[2011-12-01 21:52] agbiotec opened #1 "doesn't run... :-("
- followed all steps from :
  http://bcbio.wordpress.com/2011/11/29/making-next-generation-sequencing-analysis-pipelines-easier-with-biocloudcentral-and-galaxy-integration/

after hitting "Process" in the very last step from within Galaxy pipelines, it simply returns in the main Galaxy and doesn't show any running jobs there. Running qstat after having logged in does not show anything either.
- wh

[2011-12-25 13:14] thomasvangurp opened #2 "Zone mismatches"
Dear Brad Chapman,

Great tool you made! I've been playing with it a lot yesterday and today. I launches and relaunches a customized galaxy cloud instance in most cases.

There are however 2 issues:
1. Sometimes the amazon EC2 instance is launched in a different availability zone us-east1c instead of us-east-1b, therefore the stored snapshots of tools and data cannot be attached to the new instanc

[2011-12-25 17:36] #1 closed, assigned to nobody

[2013-05-05 22:49] jmchilton opened #10 "boto Dependency Problem"
The following bioblend changeset by @nuwang added a validate_certs argument when connecting to EC2.

https://github.com/afgane/bioblend/commit/b585245ccc0eaf226734e04d5df84fdefec54096

A problem is this was introduced with boto somewhere between versions 2.5 and 2.6. Since biocloudcentral explicitly targets boto 2.3 (in requirements.txt), biocloudcentral seems broken out of the box.

I guess biocl

[2013-06-19 13:41] #10 closed, assigned to nobody

[2013-08-12 14:05] agbiotec opened #16 "Cloud connection problem ?"
I get

Cloud connection problem:
A problem starting your instance. Check the Amazon cloud's console: Problem launching an instance: EC2ResponseError: 400 Bad Request <?xml version="1.0" encoding="UTF-8"?> <Response><Errors><Error><Code>Unsupported</Code><Message>The requested Availability Zone is currently constrained and we are no longer accepting new customer requests for t1/m1/c1/m2/m3 instance

[2013-08-12 18:11] agbiotec opened #17 "share an instance cluster field on biocloudcentral site"
I am providing the share-an-instance cluster id on the corresponding filed on the biocloucentral page:

cm-04768f56d19d9ed91ac5e236b669f5ce/shared/2013-08-09--20-48
(this is a cluster I've shared previously through the cloudman interface)

However, when I click on the ip address of the started instance and get to the cloudman interface, it still asks me to choose option (Galaxy, share-an-instance,

[2013-08-12 20:47] agbiotec opened #18 "problem with how data are passed via biocloudcentral to the booted instance ?"
This is what I see as user data to my instance, I am not sure if this is a problem or not. Is the "!!python.." in front of each supposed to be there ?

access_key: !!python/unicode 'AKIAJLBRCY******_'
bucket_default: !!python/unicode 'cm-04768f56d19d9ed91ac5e236b669f5ce/shared/2013-08-09--20-48'
cloud_name: !!python/unicode 'Amazon'
cluster_name: !!python/unicode 'papercluster6'
freenxpass: !!pyth

[2013-08-22 19:25] agbiotec opened #20 "how difficult would it be to have an "enter your own image id" on the drop-down menu ?"

[2013-08-23 05:11] #20 closed, assigned to nobody

[2013-08-23 12:12] #18 closed, assigned to nobody

[2013-10-29 20:44] andersje opened #22 "README.md file unclear on using postgresql"
While sample commands are provided, little explanation is provided of what they do, and they don't quite work on this instance of ubuntu 13.04 (I know, the docs say to specifically use 12.04, but, I figured I would give raring a try).

I got right up to the point where I need to create a database, and it's giving this error:

(bcc)janderson@ip-10-223-0-144:/gvl/bcc/biocloudcentral$ createdb --user

[2013-10-30 09:13] #22 closed, assigned to nobody

[2013-10-30 09:14] #17 closed, assigned to nobody

[2013-10-30 14:38] andersje opened #25 "running 'sudo service bcc start' never returns to command line..."
following the instructions for a dedicated server build, everything appears to have gone successfully, but I'm now at ten minutes of waiting for service bcc to start...

/var/log/bcc_server.log contains this:

2013-10-30 14:26:28 [23861] [INFO] Listening at: http://127.0.0.1:8000 (23861)
2013-10-30 14:26:28 [23861] [INFO] Using worker: sync
2013-10-30 14:26:28 [23871] [INFO] Booting worker with pi

[2013-10-30 21:51] #25 closed, assigned to nobody

[2013-10-31 14:51] andersje opened #26 "documentation unclear on accessing admin interface."
Does one use the "admin" user created as part of the django install?
I've been through it several times, but cannot seem to successfully login to the admin interface.

[2013-10-31 15:11] andersje opened #27 "dedicated server install prepends "None" to the page url"
...which is a 404.

(e.g. instead of being redirected from http://my.ip.addr.here/ to http://my.ip.addr.here/launch, the user is redirected from http://my.ip.addr.here/ to http://my.ip.addr.here/None/launch )

I've tried setting "Redirect_Base" equal to "None", None (without quotes) and simply blank, but it doesn't seem to help.  I've also restarted the service, and wiped/regenerated the static pa

[2013-11-05 21:58] #27 closed, assigned to nobody

[2013-11-05 22:16] #26 closed, assigned to nobody

[2013-11-21 17:02] andersje opened #28 "docs need additional data, re custom AMIs and launch targets"
I'm curious as to how I use biocloudcentral to launch my own custom AMIs, and also how I launch those AMIs into a VPC.

Thanks for any help you can lend me.

[2013-11-22 21:34] #28 closed, assigned to nobody

[2015-06-24 15:29] kaktus42 opened #35 "add upload config file to recreate an existing cluster"
It would be good to have a upload field to upload a `???-userdata.txt` that you can download upon first creation of a cluster. The cloudlounch then should prefill all the values from the values in that file.

[2015-06-24 15:36] dannon commented on #35
Not sure I follow -- all the data should already be stored in the bucket for subsequent launches.  Or are you saying you want a "Launch another like <clustername>"?

[2015-06-25 03:07] kaktus42 commented on #35
Well. But when I re-started my cluster, it e.g. chose a different instance type. also the keyfile needs to be specified again, otherwise I can't login on the machine.

[2015-07-09 21:23] erasche opened #38 "Make obscured passwords visible on demand"
Follow up to #37

[2015-07-15 15:11] amaclean199 opened #40 "Add private cloud type"
Hello, I've been working towards having this operate on my private Openstack cloud. I have Cloudlaunch running on my local machine, just wondering how I can configure it to spawn a Cloudman instance on my dev cluster instead of Amazon?

[2015-07-15 15:31] afgane commented on #40
You'll need to log into `127.0.0.1:5000/admin` (or a different port, depending on how the process web server got launched; the login info should have been created when the database migrations were run) and the add an entry to the 'Cloud' table with the values for your cloud. Below is a screenshot of what this  looks like for one of the Openstack cloud I have access to. Next, add your image/ami inf

[2015-07-15 15:40] amaclean199 commented on #40
Ahh I had a feeling it was in the admin section, but when I try to access it the server says the page is unavailable even though I made an admin account during the db migrations.
![cloudlaunch admin page unavailable](https://cloud.githubusercontent.com/assets/6070190/8702535/3d777808-2ae6-11e5-985a-e25285ce4db6.png)

[2015-07-15 16:04] afgane commented on #40
Hmm - I just installed a new, clean instance to test this but it's working out of the box (for some reason with no CSS on the Admin side but that's largely besides the point).

Is there anything in the log? Try launching it without honcho from two different tabs:
tab1: `python biocloudcentral/manage.py runserver`
tab2: `python biocloudcentral/manage.py celeryd --concurrency 2 --loglevel=info`
and

[2015-07-15 18:51] amaclean199 commented on #40
Nothing came up in the log there but I started a Cloudlaunch instance on a fresh VM and am able to reach /admin there. Thanks again!

[2015-07-15 19:14] amaclean199 commented on #40
Also, I think the CSS was missing because of line 103 in biocloudcentral/settings.py:
`os.path.join(os.path.dirname(__file__), os.pardir, "static"), '/app/.heroku/python/lib/python2.7/site-packages/django/contrib/admin/media/',  # Heroku-setting`

Since I was configuring Cloudlaunch on a dedicated server and not using Heroku, when I ran `$ python biocloudcentral/manage.py collectstatic` it failed

[2015-07-15 19:44] afgane commented on #40
Yeah, without that path it works fine in production setting but is broken for a local install. I tried fixing it and thought I did with the most recent commit but testing it afresh now, I see it's broken even worse so back to the drawing board... (Django static content is a pain a decade into that project!)

[2015-07-17 14:22] amaclean199 commented on #40
Ah okay well I have merged in your most recent commits and everything in the Cloudlaunch department seems to be running well! Now I'm just trying to connect it to our cloud. I've worked out this configuration that seems to be appropriate but when I try to launch an instance it reports that 'Name or service not known'. Also the zone parameter appears to be empty even though I have set region to Reg

[2015-07-17 15:53] afgane commented on #40
What's the AMI ID you're using? It appears it's `0c7053f1-57d0-4cf9-85d7-88633b`. If so, that's the OpenStack API ID. Instead, you'll need the AWS/boto compatible AMI ID (e.g., `ami-86uhyf5s`). To get that, you'd need to use boto library from a prompt, create a connection object to your cloud (with params as in the Cloud Launch form) and query for the list of images to get the AMI ID.

Either way,

[2015-07-21 17:42] amaclean199 commented on #40
I've been trying since Friday to do this but on my local machine, a VM, and the even the controller nodes I get the same result as below. My openrc file is included. And I have sourced the ec2rc.sh file from Horizon's API access page as well. I think that this may be related to this issue about keystone https://bugs.launchpad.net/fuel/+bug/1430309 What are your thoughts?
[code]
[code]

[2015-07-21 18:25] afgane commented on #40
I think your connection string may be a bit too simplistic for the boto-on-OpenStack functionality; try the following connection commands, just replace the values to match the ones for your cloud - I just provided these so you have an example of how they're supposed to look. These work btw with boto v2.37.0 on OS X Python v2.7.6):

[code]

[2015-07-29 14:39] amaclean199 commented on #40
Okay I've established s3 and ec2 connections as follows with boto v2.38, Ubuntu 14.04, Python 2.7.6:

[code]
And then I updated my cloud settings in Cloudlaunch to be the same:

![biocloud cloudlaunch settings](https://cloud.githubusercontent.com/assets/6070190/8960305/49e3be06-35dd-11e5-9725-d8279351956e.png)

But when I attempt to launch a Cloudman instance from cloudman I get the same error as

[2015-07-29 14:45] afgane commented on #40
So with the `ec2_conn` you've established directly in the prompt, what happens if you do `ec2_conn.get_all_security_groups()`?

[2015-07-29 14:52] amaclean199 commented on #40
We are just using one security group and the command returns it properly:
[code]

[2015-07-29 16:30] afgane commented on #40
Let's move one layer up in the chain then. Try running the following code (with enabled virtual env where the Cloud Launch is installed):
[code]

[2015-07-29 17:15] amaclean199 commented on #40
Alright with that it errors again:
[code]

[2015-07-29 17:33] afgane commented on #40
Are there two different `boto` versions then? One within the Cloud Launch virtualenv and one not? Try to match the one in the virutalenv to the one that works.

It's the same code as I sent earlier for `boto` directly and that works so it's got to be a system setup issue: https://github.com/galaxyproject/bioblend/blob/master/bioblend/cloudman/launch.py#L478

[2015-07-29 17:55] amaclean199 commented on #40
Ahh yes I have Boto v2.38 installed on my local machine, which is what works, and Boto v2.9.7 on the Cloudlaunch VM. So I'll try changing Boto on Cloudlaunch to v2.38.

[2015-07-29 18:36] amaclean199 commented on #40
Everything has Boto v2.38 now but I'm getting the same "name or service not known" error on the Cloudlaunch VM with both the direct Boto connections or with Bioblend. Connections can be made from my local machine directly with Boto, but not from the Cloudlaunch VM, whether in the virtual environment or not.

[2015-07-30 13:49] afgane commented on #40
And the networking is working fine on the VM (in general and to your cloud)?
`boto` has no additional dependencies so that can't play a role. What about a clean virtualenv on the VM with only `boto` installed?

In the mean time, I'll look into Docker and see if I can build a container for Cloud Launch.

[2015-07-30 17:15] amaclean199 commented on #40
Yes all other networking seems to be working correctly with our setup. The clean virtualenv on the VM once again failed, while a clean virtualenv on my local machine worked fine. I'll continue searching for possible causes, looks like there are many stack overflow questions related to boto problems.

[2015-07-31 20:53] afgane commented on #40
I've managed to create a Dockerfile to build a Docker image with the app installed. It still has issues but it also workable so feel free to give it a try. It's available here: https://github.com/afgane/cloudlaunch-docker

[2015-08-03 15:27] kaktus42 commented on #38
:+1:

[2015-08-03 15:29] kaktus42 opened #41 "choose custom instance type for master"
would be great to have a text box for this.
With manipulating the HTML code and POST request, it works so far.

[2015-08-03 17:10] martenson commented on #38
I do not know Django but it seems you should be able to insert simple JS somewhere

[code]

[2015-08-03 17:23] erasche commented on #38
It's not a feature that's built into Django. That JS snippet is what will have to be used. Thanks for providing it! :)

I'd avoid adding in a `form.BooleanField`, because visibility of a password shouldn't be part of the form which should be a direct representation of the model.

[2015-08-03 19:32] #41 closed

[2015-08-26 17:39] MatthewRalston opened #42 "Documentation on adding AWS cloud, instance types to fresh install?"
Hi, I'm using the dockerized version from @afgane. I'd like to add the AWS cloud and some instance types, but I don't know where to find informtion about the "EC2 port", "S3" port, or others. Would someone let me know where I can find this information? Thanks for your time!

[2015-08-26 17:53] afgane commented on #42
The official EC2 info is available here: http://docs.aws.amazon.com/general/latest/gr/rande.html#ec2_region
S3 here: http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region

You can also look for specific fields within the Cloud Launch repo at the file used to preload the database: https://github.com/galaxyproject/cloudlaunch/blob/master/biocloudcentral/aws_db_data.json

If you're going

[2015-08-26 17:53] #42 closed

[2015-08-27 18:22] MatthewRalston opened #43 "Unknown command celeryd for biocloudcentral/manage.py"
Hello again,
I took advice from #42, setting up a fresh instance on a linux workstation, RHEL6 with pyenv-virtualenv. I took your suggestion @afgane  and decided to install according to the repository's instructions. I manage fine until I receive the following error while starting supervisor. I notice that the celeryd command line tool is available(see below), although this subcommand is not avail

[2015-08-27 19:48] afgane commented on #43
This could have something to do with RHEL as I've only installed this on Ubuntu but nothing jumps at me.

With the virtualenv activated, what do you see when you issue `pip freeze` command? If celery is missing, try installing it via `pip install celery`. This is what I have:
[code]

While you're at it, I'd sugges updating bioblend to what's in git as some of the recent changes to Cloud Launch req

[2015-08-27 20:14] MatthewRalston commented on #43
/srv/cloudlaunch >pip freeze
amqp==1.0.12
anyjson==0.3.3
billiard==2.7.3.31
bioblend==0.6.1
boto==2.38.0
celery==3.0.21
dj-database-url==0.2.1
Django==1.3
django-bootstrap-toolkit==2.12.0
django-celery==3.0.17
gunicorn==19.3.0
honcho==0.6.6
Jinja2==2.7
kombu==2.5.12
MarkupSafe==0.18
meld3==1.0.2
mock==1.0.1
nose==1.3.0
poster==0.8.1
psycopg2==2.4.2
python-dateutil==2.1
python-memcached==1.48
pytz=

[2015-08-31 15:26] MatthewRalston commented on #43
@afgane is does your manage.py script have the "celeryd" command?

[2015-08-31 16:05] afgane commented on #43
Yes it does.

I'm working on an Ansible role to automate the installation process and hopefully help that way. In a basic format, it should be ready today but at least in this iteration it'll still be Ubuntu-only. Can you get a Ubuntu-VM instead of the RHEL?

[2015-08-31 17:48] afgane commented on #43
Here's the Ansible playbook I mentioned: https://github.com/afgane/ansible-cloudlaunch

If you can get access to a Ubuntu machine, feel free to try it out and let me know if you run into any problems. If you'd like to add support for installing the app on a CentOS machine via a PR, we'd appreciate it (or you can send me required system package names and I'll eventually add it).

[2015-08-31 17:53] afgane commented on #43
I also notice that you have some extra python libs and also that some are different versions then what's provided in `requirements.txt`. Did you install this in a virtualenv?

[2015-09-01 12:54] MatthewRalston commented on #43
It turns out something went wrong with my virtualenv that was triggering the issue. I recreated the virtualenv, got supervisor working, and nginx launched. I encountered another issue with the celery.d process terminating with no error to the supervisor log. Thanks for helping me fix this issue @afgane

[2015-09-01 12:54] #43 closed

[2015-09-01 15:46] MatthewRalston opened #44 "Login page does not exist (500 Internal Service Error)"
Hello everyone. I have a fresh production install of cloudlaunch on RHEL6 configured with PostgreSQL and Nginx, following the README. When I access "my-server:portnum/admin" page, I receive a 500 error indicating that the login.html page could not be found.

Django error
[code]

Contents of django bootstrap_toolkit (no admin directory):
[code]

[2015-09-01 17:02] afgane commented on #44
I cannot reproduce this and searching for the exception doesn't seem to lead anywhere either.
Django Admin (including `index.html`) is located under Django's contrib dir (`/srv/cloudlaunch/.cl/lib/python2.7/site-packages/django/contrib/admin/templates`).

The only thing I noticed is that your venv is in `~/.pyenv`. So did you change paths in Procfile* and supervisor confs to reflect that because t

[2015-09-01 18:44] MatthewRalston commented on #44
The virtualenv, courtesy of [pyenv-virtualenv](https://github.com/yyuu/pyenv-virtualenv), is located in ~/.pyenv/versions and is called cloudlaunch. Then I simply symlinked /srv/cloudlaunch/.cl to the virtualenv directory. I do not see the templates directory in the django/contrib/admin directory.
If I understand correctly, django searches for an application specific login template at a path relat

[2015-09-01 19:10] afgane commented on #44
This is the output from my `pip freeze`:
[code]
There are differences with `argparse, gunicorn, meld3, requests` but none of those seem related.

If you’re missing dirs under the Django installation path, perhaps try reinstalling Django?

[2015-09-01 19:41] MatthewRalston commented on #44
Yes. I uninstalled the django version installed via pip, downloaded source, and ran setup.py. This produced the correct directory structure reflecting the release 1.3.7 for Django on github. This solved my problem. Thank you.

[2015-09-01 19:41] #44 closed

[2015-09-01 19:53] MatthewRalston commented on #28
@afgane would can you confirm that AMI's will launch into a default VPC, however?

[2015-09-01 20:24] afgane commented on #28
Yes. If the account only has VPC access, an instance will get launched into the default VPC. I tested this but let me know if you run into issues.

[2015-09-01 21:15] MatthewRalston commented on #28
Thank you!

[2015-09-02 16:15] MatthewRalston commented on #28
I have another question concerning custom AMIs, [cross posted on biostar](https://biostar.usegalaxy.org/p/14018/). Is your [ansible playbook](https://github.com/galaxyproject/ansible-cloudman-image) the recommended way to build the AMI? Is anything else required? Can I then simply add the image to cloudlaunch?

[2015-09-02 16:58] afgane commented on #28
I posted an answer on the biostar forum and depending on how far you'd like to take the cloud functionality, in addition to the AMI, you are likely going to need the the galaxy and indices file systems. The instructions are available at the link I posted (i.e., https://wiki.galaxyproject.org/CloudMan/Building).

[2015-10-05 13:36] MatthewRalston opened #45 "Specify VPC (or generic equivalent) when launching cluster [Enhancement]"
Hello again,
I'm working under a corporate AWS account with an individual IAM user. I can't specify a default VPC and I have to run Galaxy in a particular VPC. Could VPC selection be implemented in Cloudman and/or Cloudlaunch? I see in the Cloudman Changelog that in August, support for VPC was added in some sense, but I'm not sure how to leverage this and/or specify it while using Cloudlaunch. Wil

[2015-10-05 20:10] afgane commented on #45
CloudMan supports only the generic *default* VPC but, as you've discovered, choosing a specific one is not currently available. This option is something that would need to be implemented in Cloud Launch to give a choice of the VPCs and/or the ability to create one. I have not tried this, but looking at [the code](https://github.com/galaxyproject/cloudman/blob/master/cm/clouds/ec2.py), it seems Clo

[2015-10-05 20:23] dannon commented on #45
Unless something else has changed recently, you should be able to launch manually into a particular non-default VPC and everything should work.  Have you tried this and found it to fail?

[2015-10-05 21:41] MatthewRalston commented on #45
@dannon it's worth noting that I'm not running a stock Cloudman AMI, but one configured from the ansible-cloudman-playbook for CentOS. I have noted that the playbook doesn't contain steps for acquiring Cloudman or Galaxy directly (to my knowledge). Running ```find . -name galaxy.ini``` from root seems to confirm this. Is there something else that I'm missing? (There are so many playbooks etc... ve

[2015-10-06 13:19] amaclean199 commented on #40
Okay so we ended up redeploying our Openstack dev cloud with different storage settings, leveraging Swift for images and objects instead of Ceph, and it cooperated much better with the S3 API. Even though Ceph also supports S3 it does not implement all features. Cloudlaunch is in full communication with our cloud now so this issue can be closed.

[2015-10-06 13:48] afgane commented on #40
Glad to hear things are working and thanks for the update.

[2015-10-06 13:48] #40 closed

[2015-10-07 21:20] MatthewRalston commented on #45
@afgane, do you mean that if Cloudman/Cloudlaunch is running on EC2 within a VPC, it'll use it's own VPC to initialize the Galaxy cluster?

Also, which playbooks do I need to run to get a fully functioning Galaxy cluster but without the reference sequences?

[2015-10-08 14:15] afgane commented on #45
I somehow missed the previous comment - sorry.

The best instructions are available on the wiki: https://wiki.galaxyproject.org/CloudMan/Building and if you don't want the indices, you’ll need to do all the steps except step number 5. All the roles are bundled under the galaxy-cloudman-playbook, which is used to properly assemble them, so you'll want to run that playbook. For a higher-level explan

[2015-10-09 13:36] MatthewRalston commented on #45
@afgane, excellent I am working on adapting that larger playbook for CentOS. I'm confused about the second part though. How can I administer the cluster on the remote node with the Cloudman/cloudlaunch interface if I don't use Cloudlaunch to launch the instance?

[2015-10-09 13:59] dannon commented on #45
@MatthewRalston Cloudman is separate from Cloudlaunch.  Cloudlaunch is only used for actually getting the instance going, and the Cloudman application takes over after that (regardless of whether the instance is launched manually or via cloudlaunch).

[2015-10-14 14:49] MatthewRalston commented on #45
@afgane I wouldn't mind doing this, although I have little experience with the intricacies of your software so would you mind answering some questions as I try to figure it out?

First, it seems that Cloudlaunch acquires the "dynamic" information using methods from bioblend (e.g. bioblend.cloudman.launch in [views.py](https://github.com/galaxyproject/cloudlaunch/blob/master/biocloudcentral/views.p

[2015-10-14 15:39] afgane commented on #45
Your reasoning looks good to me. An additional `Select` field in [forms.py](https://github.com/galaxyproject/cloudlaunch/blob/master/biocloudcentral/forms.py#L29) will also be needed to allow the selection of the available subnets. I am happy to help with this so please feel free to ask for help or just questions if you have any.

Having said that, in one of the other threads, I mentioned we've st

[2015-10-21 15:14] MatthewRalston opened #46 "Cloudlaunch monitor view hangs with no errors"
Hi, I am launching an AMI I built on CentOS according to an adapted Galaxy-Cloudman playbook. I then built the Galaxy filesystem as well and saved the snapshot to an S3 bucket. I supplied this bucket (which contains galaxyFS-latest.tar.gz) and AMI to a Cloudlaunch instance setup using @afgane 's cloudlaunch-docker repo. When I submit this information, the "monitor" page hangs during the "Requestin

[2015-10-21 19:40] afgane commented on #46
Try connecting to the container interactively and look in `/srv/cloudlaunch/cloudlaunch/`.
If there's nothing there, starting cloudlaunch directly and seeing the logging output from the celery task will give you logs (have you ever gotten that to work on CentOS?). Many of the actions happen within BioBlend but to see it log, you need to enable logging by uncommenting this line: `https://github.com

[2015-10-23 17:54] MatthewRalston commented on #45
Hi @afgane I finally finished configuring my AMI and galaxyFS and tried launching it from cloudlaunch and was alerted that I cannot launch my AMIs with my IAM role since we do not have a default VPC for the whole account. So. I am now revisiting this issue and have forked bioblend to begin. I'll post back once I get to the Cloudlaunch stage.

[2015-10-23 20:34] MatthewRalston opened #47 "Security group create/update fails (thanks boto), no error provided to user in a GUI."
This error occurs after ICMP in the except block in the section concerning inter-instance communication. The POST request fails from the boto authorize statement stating that protocol is null, which is the first parameter is the classical method. However, my boto library seems to be up to date (2.38.0) I understand that this is mostly a boto failure, although this could provide the illusion to the

[2015-10-23 20:45] MatthewRalston commented on #45
Hmmm I've gotten to a point where things should be passing through correctly to boto. If I pass through a subnet_id to bioblend's CloudManLauncher "launch" method, which passes this to the boto's ec2_conn "run_instances" method, I receive the following error.

[code]

I assume that [this is a boto issue](https://github.com/boto/boto/issues/350) but I'm not sure how to fix this. Some people suggest

[2015-10-26 08:43] afgane commented on #47
Trying things out, it seems the group rule will also need to have all of its properties specified. So the authorization code in BioBlend would need to be changed to: `cmsg.authorize(src_group=cmsg, ip_protocol='tcp', from_port=0, to_port=65535)`

[2015-10-26 14:13] MatthewRalston commented on #47
Hmm the boto error has changed after changing this.

[code]

[2015-10-26 16:51] MatthewRalston commented on #46
I installed the software locally and encountered a few errors that I'll post for posterity. Since there's no default VPC associated with the AWS account I'm running under (nor do I have authority to change it), the boto request fails with the following error when no ```subnet_id``` is provided to the  boto```run_instances``` method.

[code]

When I pass a subnet_id to boto's ```run_instances``` me

[2015-10-26 19:30] afgane commented on #46
Does CloudMan (attempt to) start? Can you post a gist of all the (sanitized) log files from `/var/log/cloudman`?
The order of boot events is as follows: `/usr/bin/cm_autorun.py` -> `cm_boot.py` -> Nginx -> CloudMan -> Galaxy++. Note that the log for `cm_autorun.py` might contain info about an exception that occurred within `cm_boot.py`. Nginx gets started by a process running root so I don't think

[2015-10-26 19:58] MatthewRalston commented on #46
The root page is a 404, ```<ip>/cloud``` produces a login page.

The failure occurs in cm_autorun.py during the password-based login setup.
[code]

This is the only log at that point.

[2015-10-26 20:35] MatthewRalston commented on #46
Should I make changes to the ```cm_boot.py``` script and save it to my bucket? I don't remember this step from the docs. Also, several of the variables set in this script have settings such as "cm.tar.gz" whereas the galaxyFS.tar.gz is produced from the galaxy-cloudman playbook. Should these files have the same name?

[2015-10-26 21:47] afgane commented on #46
The `cm_autorun` failure seems to be when running the ssh reload command: https://github.com/galaxyproject/ansible-cloudman-image/blob/master/files/cm_autorun.py#L377
What happens when you run that command by hand?
As long as you use your ssh key to connect to an instance, you can comment out the call to `_allow_password_logins` method and then, yes, upload `cm_boot.py` to your default bucket. (No

[2015-10-27 21:07] MatthewRalston commented on #46
Okay, well under certain circumstances I can get this to run correctly with the default boot script fetched from cloudman. There are several issues that look like they need to be solved.
1. Is freeNX required for cloudman? What is the benefit to this? It seems this function is where the dpkg call is made
2. Regarding the mountpoint command, ```mountpoint -q /mnt``` returned an exit code of 1. for

[2015-10-27 21:43] afgane commented on #46
1. No. FreeNX is a leftover from the past just haven't found the time to properly clean it up and make sure not to break anything in the process.
 2. The outcome is that an ephemeral disk is mounted under `/mnt` (i.e., it was either done automatically by Amazon or this method did it). Some instance types (e.g., t2's, c4's, m4's) don't even come with an ephemeral disk available so this method will

[2015-10-29 22:37] MatthewRalston commented on #46
Still hanging, but the cm_autorun.py and cm_boot.py scripts have been adapted for my situation and run successfully as far as I can tell. I've inspected /var/log/cloudman/cloudman.log (i assume the result of running the run.sh script in the /mnt/cm directory?) and I see that cloudman complains that I do not have snaps.yaml or persistent_data.yaml in my S3 bucket. Are the "Network Error" HTML issue

[2015-10-30 00:29] nuwang commented on #46
It looks suspiciously like a metadata server failure. Are you running this on Openstack? If so, is the metadata service running ok? If you login to the instance and do a curl http://169.254.169.254/latest/meta-data/instance-type, it should return a valid value.

My guess would be that the line printing that long html string (7th line) is caused by the metadata server returning an error message ins

[2015-10-30 14:34] MatthewRalston commented on #46
@nuwang can you confirm that you're referring to the long html errors? I am running on EC2, and I can retrieve the userdata.yaml file without issue from the same server. I am running behind a proxy (S3 connections work fine with boto, and wget/yum works okay through the proxy as long as the galaxy user's bashrc is sourced. I have a file in ```/etc/profile.d``` which defines the proxy environment s

[2015-10-30 15:04] nuwang commented on #46
That narrows things down a bit. The metadata server is managed by EC2 and is always available at that fixed ip. (http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html). It can be used by a running EC2 instance to retrieve additional information unique to itself, such as the zone it's running in, its IP etc. The side-effect is that it can't be proxied through another server.

[2015-10-30 15:58] MatthewRalston commented on #46
That is excellent. That should solve the issue with the 503 errors. The cloudman log still shows errors relating to the persistent_data.yaml and snaps.yaml.

@dannon and others what is required in the persistent_data.yaml and snaps.yaml files?

[code]

[2015-10-30 16:12] nuwang commented on #46
The other errors seem to be related to the use of an apostrophe in your server and bucket names. The apostrophe is a reserved character in the url spec, and therefore can't be used without proper encoding. Cloudman isn't encoding the bucket name, so while this is technically a bug in cloudman, and you could try to work around it by manually encoding the name, I think it would be safer to avoid use

[2015-10-30 16:17] MatthewRalston commented on #46
@nuwang the bucket isn't named "my_compan's_bucket_name"

[2015-10-30 16:20] nuwang commented on #46
Ok, I thought you were using some test name or something. It did seem a bit strange that AWS would allow a bucket to contain an apostrophe in the first place :-) However, the error is an InvalidURL exception, so there must be something wrong with the URL somewhere?

[2015-10-30 16:22] MatthewRalston commented on #46
The error at the bottom is an invalid URL because the value that's being concatenated with "s3.amazonaws.com" seems to be Nonetype. This seems to be an issue with the Cloudman boot script and not cloudlaunch specific. I'm closing this here and moving this to Cloudman

[2015-10-30 16:25] nuwang commented on #46
I see, it's probably missing the EC2 port?

Are you using cloudlaunch? If so, try specifying the ec2 port in cloud settings (although it's supposed to default to the correct one). Also, a missing snaps.yaml shouldn't cause a bug. Snaps.yaml is deprecated in favour of passing in userdata through the launcher. A sample config is available here: https://github.com/gvlproject/gvl.utilities/blob/master

[2015-10-30 16:32] MatthewRalston commented on #46
I'm confused. Yes, I am using cloudlaunch to launch the instance, but the error occurs in the cloudman run.sh script. The galaxy-cloudman-playbook script "cm_autorun.py" runs fine, no errors in the log. This then downloads and runs "cm_boot.py" which is part of the cloudman code. This runs fine, downloads the cm.tar.gz filesystem archive (although this is name galaxyFS-latest.tar.gz in galaxy-clou

[2015-10-30 16:38] nuwang commented on #46
Yes, that would be my guess. It looks like it's concatenating a null port number and coming up with an invalid URL. Can you check /opt/cloudman/boot/userData.yaml and check which port has been passed in for s3?

The snaps.yaml file is still fetched for backward compatibility, and while its absence is ok, cloudman still needs to connect to S3 to check for its presence.

[2015-10-30 16:52] MatthewRalston commented on #46
Both ec2 and s3 ports are null in userData.yaml. These were both set from cloudman's "biocloudcentral/aws_db_data.json" file. What should these be?

[2015-10-30 17:13] nuwang commented on #46
I'm not really sure why this is happening anymore, since the GVL cloud launch settings look like this:
![image](https://cloud.githubusercontent.com/assets/2070605/10852472/fd277002-7f84-11e5-9b87-0fbc8273064f.png)

And this is what our flavour/userdata configuration looks like:
![image](https://cloud.githubusercontent.com/assets/2070605/10852521/38b228f6-7f85-11e5-8599-9bc67c37627d.png)

Can you p

[2015-10-30 17:29] MatthewRalston commented on #46
access_key: !!python/unicode 'my_access_key'
boot_script_name: cm_boot.py
boot_script_path: /opt/cloudman/boot
bucket_cluster: company_bucket
bucket_default: !!python/unicode 'company_bucket'
cloud_name: !!python/unicode 'Amazon'
cloud_type: !!python/unicode 'ec2'
cloudman_home: /mnt/cm
cluster_name: !!python/unicode 'clustername'
custom_image_id: !!python/unicode 'ami-123456789'
custom_instance_t

[2015-10-31 03:19] nuwang commented on #46
Thanks. I'll switch to the cloudman thread now, since that's probably more appropriate.

[2015-11-03 21:29] #47 closed

[2015-11-30 21:32] afgane opened #49 "RFC: all new CloudLaunch"
The [process of launching Galaxy cloud instances](https://wiki.galaxyproject.org/CloudMan/GettingStarted) has gone through several iterations over the past few years, starting with the [manual process via the cloud’s web dashboard](https://wiki.galaxyproject.org/CloudMan/AWS/GettingStarted) to the current [CloudLaunch web app](https://launch.usegalaxy.org/launch). This evolution was largely driven

[2015-12-01 21:27] MatthewRalston commented on #46
Hello again, I've got my cluster launching from cloudlaunch okay now, except the cloudlaunch ```/monitor``` page hangs during booting, and does not show a [complete launch](http://i.imgur.com/GOFLRuj.png), even though the launch is successful. It freezes and shows

[code]

The log, too, displays no further information about the hung request.
[code]

[2015-12-18 20:17] #16 closed

[2015-12-18 20:28] afgane opened #50 "dev-mongo branch todo's"
This is relation to https://github.com/galaxyproject/cloudlaunch/issues/49 as one possible avenue for implementing the new launcher. This branch is based on the following stack: [Django](https://www.djangoproject.com/), [Django Rest Framework](http://www.django-rest-framework.org/), [MongoDB](https://www.mongodb.com/), [Django Rest Framework Mongoengine](https://pythonhosted.org/django-rest-framew

[2015-12-28 16:52] afgane opened #52 "dev branch todo's"
This is relation to https://github.com/galaxyproject/cloudlaunch/issues/49 for implementing the new launcher. This branch is based on the following stack: [Django](https://www.djangoproject.com/), [Django Rest Framework](http://www.django-rest-framework.org/), [Django Social Auth](https://django-social-auth.readthedocs.org/en/latest/), [Celery](http://www.celeryproject.org/). The app is intended t

[2015-12-28 17:01] afgane commented on #50
After experimenting with the specified software stack, a conclusion was that much of those projects are in flux, have very limited documentation, and they don't necessarily integrate well with one another re. support for their native features. With that, a decision was made not to pursue this avenue for the time being and revert to the relational model. See https://github.com/galaxyproject/cloudla

[2015-12-28 17:01] #50 closed

[2015-12-28 17:11] afgane commented on #52
[Celery 4.0](http://docs.celeryproject.org/en/master/whatsnew-4.0.html) will officially support Python 3.5; the 4.0 is at RC1 now so as we move along, it hopefully gets released but it's something to keep in mind.

[2016-01-11 04:44] nuwang commented on #52
Slugs vs IDs for Resources - I guess we can decide on this based on the type of resource? Probably based on whether the user will want to understand/remember the slug or not. (background tasks could use the id for example)

DRF-nested-routers - I guess we are a yes on this?

[2016-03-08 03:16] hackdna opened #53 "Add EBS optimized setting for master node"
Enabling [EBS optimization](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html) on the master node helps with NFS performance.

[2016-03-08 15:13] afgane commented on #53
This may take a while but in the mean time, all volumes are SSD (`gp2` type: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSVolumeTypes.html), so the larger the volume, the better the performance.

[2016-03-08 16:31] hackdna commented on #53
I see, thanks. The problem is that the IO bandwidth can be affected by "noisy neighbors" since storage traffic and general network traffic share the same path in non-EBS-optimized instances.

[2016-03-08 16:37] hackdna commented on #53
Is bug fixing on hold because of the rewrite (#49)?

[2016-03-08 16:42] afgane commented on #53
When I said a while, I was thinking it may not happen today/tomorrow but
I'm looking into it.

On Tue, Mar 8, 2016 at 11:37 AM, Ilya Sytchev <notifications@github.com>
wrote:

[2016-03-08 16:51] hackdna commented on #53
OK, thank you! I didn't mean to rush you, just wanted to figure out the state of the project.

[2016-03-09 03:42] afgane commented on #53
I managed to squeeze a basic implementation in today - it's live now on launch.usegalaxy.org (with _cloudman-test_ bucket) so feel free to give it a shot and let me know if you'd like to see something different.

[2016-03-09 18:16] hackdna commented on #53
Thank you. While the volume IOPS setting is also useful, I actually had the `--ebs-optimized` [instance attribute](http://docs.aws.amazon.com/cli/latest/reference/ec2/modify-instance-attribute.html) in mind.

[2016-03-09 18:24] afgane commented on #53
Is that just a flag to add when launching an instance? And if the instance is already EBS-optimized, nothing changes but if it's not, Amazon charges the extra fee?

[2016-03-09 18:26] afgane commented on #53
I guess I should have kept reading... yes: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html#ebs-optimization-support

[2016-03-09 19:23] hackdna commented on #53
Yes to both questions. Also, it's worth noting that "EBS-optimized instances enable EC2 instances to fully use the IOPS provisioned on an EBS volume"

[2016-03-09 22:07] #53 closed

[2016-03-09 22:11] afgane commented on #53
Should be all good to go now; live on [launch.usegalaxy.org](https://launch.usegalaxy.org).

I guess the IOPS provisioned volumes came in as a bonus from the original comment... Let me know how performance changes with all this enabled.

[2016-03-11 20:02] hackdna opened #54 "Impossible to select a placement zone"
Attempting to fetch the available zone list (after filling out the required fields) results in error message "tuple index out of range".

[2016-03-11 20:38] afgane commented on #54
Should be fixed now - a typo lingered around (https://github.com/galaxyproject/bioblend/commit/83ec45c0ee04785004a45dec1a4db55b8277ab7e).

[2016-03-11 20:38] #54 closed

[2016-03-14 15:34] hackdna commented on #53
Thanks, the IO throughput is a lot more consistent now when writing to `/mnt/galaxy` on master via NFS. Btw, it would be great to enable the `--ebs-optimized` setting on worker nodes too (for example, it is not enabled by default on `c4.large`, contrary to what the docs say).

[2016-03-14 18:42] hackdna commented on #54
Thanks!

[2016-03-14 20:27] afgane commented on #53
I wasn't sure if that would be beneficial since all the volumes are mounted from the master but I added it in now (available from _cloudman-test_ bucket for the time being).

[2016-03-14 21:08] hackdna commented on #53
Great, thanks, working as expected. It is mostly beneficial for speeding up the boot process on worker nodes but also, gp2 is the new default EBS volume type.

[2016-03-25 15:23] hackdna opened #55 "Problem selecting a Cloud and entering an Access key"
Clicking on the Cloud dropdown results in opening of https://github.com/galaxyproject/cloudman/blob/master/CHANGELOG.md in a new window and clicking on the Access key input box results in opening of https://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key in a new window.

[2016-03-25 15:41] afgane commented on #55
Thanks for noticing. Forgot to close the href tag on the release notice... fixed now.

[2016-03-25 15:41] #55 closed

[2016-04-11 21:11] hackdna opened #56 "HTTP 400 Bad Request when configuring security group"
Private Cloud Launch instance, commit 8d537a8d. CloudMan security group (`sg-8b3b99f3`) exists (created earlier by https://launch.usegalaxy.org). Relevant entries from `tasks.log`:

[code]

[2016-04-15 16:31] hackdna opened #57 "EBS optimization is not enabled when selected"
Running commit afbae38a7 in a private Cloud Launch instance. Starting a cluster with a c4.large master and _EBS-optimized_ setting enabled under advanced options. However, `ec2 describe-instances` reports `"EbsOptimized": false` for that instance. There are no errors in the `tasks.log` except for the one described in #56.

[2016-04-16 03:13] afgane commented on #57
This is most likely due to the BioBlend version - the latest code has not been published to pypy yet. So can you run the following command (inside the virtual env used by CloudLaundh), restart CloudLaunch and see if that fixes this and #56?

`pip install -U git+https://github.com/galaxyproject/bioblend.git`

[2016-04-18 21:38] hackdna commented on #57
Thanks, it fixed this problem. However, I still see the 400 error from #56.

[2016-04-18 21:38] #57 closed

[2016-06-10 11:58] afgane opened #58 "List of available clouds"
(this refers to, currently, the `dev` branch)

The following endpoint `http://127.0.0.1:8000/api/v1/infrastructure/clouds/` will list all clouds registered on the instance, even if a user does not have credentials associated with all the available clouds. Should this be so or should the list be filtered based on the creds a user has registered?

[2016-07-12 14:17] amaclean199 opened #63 "Support for Neutron Networking?"
Hello, just wondering if this has been tested with OpenStack's Neutron networking? Specifically on OpenStack Kilo.

[2016-07-12 16:21] afgane commented on #63
Is there a particular feature that you have in mind here or did something not work as expected? I don't think the current version has much support for Neutron.
The dev branch (https://github.com/galaxyproject/cloudlaunch/tree/dev) has been tested and appears to work as expected. That branch is under development and not quite ready for use.

[2016-07-12 17:48] amaclean199 commented on #63
Okay that's what it felt like. I had successfully deployed with Nova networking at the beginning of the year but we have since upgraded our environment. Now I'm trying to redeploy GOTC and running into a number of new issues. We can wait until the development branch is ready for use.

[2016-08-30 22:43] hackdna opened #64 "Internal server error when fetching key pairs"
Commit afbae38 running at http://cloudman.aws.stemcellcommons.org/launch.

### Steps to reproduce ###
Enter access and secret keys, choose a saved cluster then fetch the key pairs.

### Observed results ###
The key pair drop down is disabled and filled with some Javascript code.
Browser console:
[code]
/srv/cloudlaunch/cloudlaunch/access.log:
[code]
However, there is nothing in /srv/cloudlaunch/cl

[2016-09-01 16:29] afgane commented on #64
If `DEBUG` is set to `False` in `settings.py` (or `settings_local.py`), the server error will get emailed to the users listed as `ADMINS` in that same file, assuming the server has the ability to send mail. You could set `DEBUG` to `True` briefly and you'd then get the error in the server logs.

launch.usegalaxy.org server is not seeing the same issue so it's probably got to do with the server set

[2016-09-01 19:08] hackdna commented on #64
Thanks for getting back quickly. This EC2 instance is not configured to send email, so I've added `EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"` in addition to `DEBUG = True` to `settings_local.py` but the error was still not getting logged in either `/srv/cloudlaunch/cloudlaunch/error.log`, `/srv/cloudlaunch/cloudlaunch/supervisor.log` or `/var/log/nginx/error.log`.

After tha

[2016-09-01 19:08] #64 closed

[2016-11-07 16:17] katbeaulieu commented on #63
Has anyone made any progress on this? We are looking to deploy Galaxy in the Cloud for an Openstack deployment with Neutron networking and have not found any documentation on this subject.

[2017-01-05 04:25] edwardsnj opened #69 "Securing Cloudman Galaxy master..."
I'm tasked with ensuring that the cloud-based Galaxy instance launched from launch.usegalaxy.org passes the same security scans a permanent server would. I'm using the Cluster with Galaxy option. I've dug around quite a lot, but haven't quite managed to figure out the special magic that would resolve the following issues. I hit most of these issues with the 15.x AMI/Galaxy version I think, but det

[2017-01-05 20:57] edwardsnj commented on #69
Perhaps this would be better in the galaxyproject/cloudman section...

[2017-01-06 05:42] nuwang commented on #69
@edwardsnj Yes, I think it would be better if you could log this under galaxyproject/cloudman. I'll close this for now and wait for you to re-open there.

[2017-01-06 05:42] #69 closed

[2017-05-25 18:30] #2 closed

[2017-05-25 18:53] #46 closed

[2017-05-25 18:55] #56 closed

[2017-05-25 19:08] #52 closed

[2017-05-25 19:09] #49 closed

[2017-05-25 19:54] afgane opened #78 "Add GCE cloud"
Add the ability to interface with the Google Cloud. This will require storing the cloud connection properties in the model and creating appropriate serializers.

Note that support for the Google Cloud in CloudBridge has not been completed but it is sufficient to make progress here. See the _gce_ branch: https://github.com/gvlproject/cloudbridge/tree/gce

[2017-05-25 20:30] afgane opened #79 "Make tasks an endpoint for deployments"
At the moment, CloudLaunch assumes one Celery task per deployment, namely to launch the app. To allow other actions on for a deployment, let's allow multiple tasks to be associated with a deployment. This will allow other actions (e.g., update status, restart, shut down, etc.) to be performed more naturally. It will also provide provenance of actions.

[2017-05-25 20:54] afgane opened #80 "Add the ability to update a deployment"
'My Appliances' page is currently a log of launched instances but should be more of a dashboard allowing live view of the deployments and more control.

For starters, enable the status of an appliance to be updated according to the state of the cloud resource. This will require access to the user's credentials across all providers used for deployments. To limit the number of requests and credentia

[2017-06-09 20:33] machristie commented on #78
My notes on the needed changes:

New model needed for GCE cloud
* extend Cloud model
* fields
    * region_name: string
    * zone_name: string

Update domain_models.py:get_cloud_provider to create a GCE CloudProvider

In view_helpers.py
* look for credentials in a single HTTP header that holds the entire credentials
  JSON object
* or look for the credentials in the user profile

New model: GCECr

[2017-06-09 20:33] machristie commented on #78
@afgane I can't assign this issue to myself. Can you assign it to me?

[2017-06-12 15:42] afgane commented on #78
@machristie I don't think this is a _assign-yourself_ problem - it looks like a Github limitation: https://github.com/isaacs/github/issues/100

I'll add you as a collaborator to the project.

[2017-08-06 12:09] nuwang commented on #63
New rewrite of CloudLaunch works with Neutron. CloudMan is still being upgraded.

[2017-08-06 12:09] #63 closed

[2017-08-06 12:11] nuwang opened #84 "Need to enforce RFC1035 + spaces and underscores to match cloudbridge"
All cloudbridge names need to be validated against the above, once the following issue is addressed:
https://github.com/gvlproject/cloudbridge/issues/55

[2017-09-02 18:36] afgane commented on #80
Base implementation available in https://github.com/galaxyproject/cloudlaunch/commit/467def0f88282245d397f67d19694fdfdab4f636

[2017-09-02 18:36] afgane commented on #79
Done in #85

[2017-09-02 18:36] #79 closed

[2017-09-07 20:14] nuwang opened #86 "Paging not implemented for cloud resources"
Most viewsets in cloudlaunch simply call resource.list() to fetch objects.
e.g.
[code]

[2017-09-07 20:20] afgane commented on #86
Yes! A useful commit when we get to this: https://github.com/galaxyproject/cloudlaunch/commit/cd7754d18439d069720c0a07af2c87a5b1b628ed

[2017-09-07 20:54] nuwang commented on #58
This should probably remain so, since a user could provide temporary credentials to browse the clouds. It would be nice to add some UI elements for entering temp. credentials in the browsable API as well.

[2017-09-07 21:58] #58 closed

[2017-09-14 08:53] bgruening opened #87 "terminate instances from within CloudLaunch interface"

[2017-09-14 08:54] bgruening opened #88 "clear list of instances"
It would be nice to remove entries from the displayed list, especially failed once or instances that are not running anymore.

[2017-09-14 08:56] nuwang commented on #87
Enis and Marcus are working on this now. This should happen by the end of the week or next week at the latest.

[2017-09-14 09:30] nuwang commented on #88
This is also being worked on by Enis and Marcus. This too should happen in parallel with the other issue.

[2017-09-14 14:50] afgane commented on #87
xref https://github.com/galaxyproject/cloudlaunch-ui/issues/18

[2017-09-20 18:49] nuwang opened #89 "Make backend plugins standalone"
This documents a discussion on how we plan to handle backend plugins moving forward:
Currently, backend plugins access some cloudlaunch models, and therefore need a running cloudlaunch instance to be developed, tested or run against. However, there is no real reason to have this dependency, and we should be able to full decouple the two, allowing backend plugins to be executed in a standalone fash

[2017-09-21 00:36] afgane commented on #89
Started this on a feature branch: https://github.com/galaxyproject/cloudlaunch/tree/decouple-plugins

[2017-09-21 21:44] afgane commented on #89
Todo's:
- [ ] Decouple `health status` method
- [ ] Decouple `restart` method
- [ ] Decouple `delete` method
- [ ] Decouple `launch_app` method (structurally and implement for all plugins)
  - [ ] Replace `credentials` with `provider`
  - [ ] Remove dependency on `ApplicationVersionCloudConfig`
  - [ ] Replace dependency on Celery `task` w/ a custom Task class
- Decouple `process_app_config` metho

[2017-09-24 07:29] nuwang opened #91 "Allow users to add custom cloud credentials"
It would be nice to allow for users to add their own private clouds, and optionally publish/share them, after being approved.

This is mostly useful for OpenStack clouds, but could also be useful for EC2 compatible clouds, and in future, Azure Stack based clouds.

Tasks
- [ ] Extend backend to store private cloud connection information.
- [ ] Add front-end component to define a cloud connection. C

[2017-09-24 07:30] nuwang opened #92 "Add multi-cloud browser frontend"
Since the backend infrastructure is already available, it would be nice to see a frontend that can allow browsing through multiple cloud providers, and carrying out common tasks on them, such as deleting instances, rebooting etc.

A sort of "Cloud Commander".

[2017-09-26 17:24] afgane opened #93 "Upgrade Django to 1.11"
Django 1.11 is an LTS, which is what we want to stick with (and 1.9 is no longer supported: https://www.djangoproject.com/download/) so time to upgrade.

[2017-09-26 17:47] afgane opened #94 "Create a CloudLaunch Docker image"
We already have an Ansible playbook for deploying CloudLaunch: https://github.com/galaxyproject/ansible-cloudlaunch/
We should apply it towards a Docker container and see what needs to be done to make that happen.

As a first step, building a single image is fine but ideally we could build this as a [Helm chart](https://docs.helm.sh/developing_charts/#charts) separating out the web server, the mes

[2017-09-29 18:55] nuwang opened #95 "Add support for OpenAPI and client bindings for other languages"
With Django Rest Framework Swagger, we should be able to generate an OpenAPI spec for the current API. We can then use that spec to generate client bindings for multiple languages.

- [ ] Generate OpenAPI spec from Django Rest Framework, possibly using DRF Swagger.
References:
a. http://www.django-rest-framework.org/api-guide/schemas/#schemas
b. https://github.com/marcgibbons/django-rest-swagger
-

[2017-09-30 15:03] nuwang opened #96 "Split components into django modules"
There are several parts to cloudlaunch that can be split into separate, installable Django modules. In addition, the current module organisation is not that great.

For example, the entire API for browsing and interacting with cloudbridge-based cloud resources, could possible be a separately installable module. That separate module alone would be useful to implement: https://github.com/galaxyproje

[2017-10-01 08:17] alenthomas commented on #93
Hi,
I would like to help on this.
I don't see a contribution guide, so it would help if you could let me know how to get started.
I was thinking
- try to change the django version to 1.11
- run the tests and see where tests fail, and take it on from there

let me know your thoughts

[2017-10-01 09:00] bgruening commented on #93
This sounds like a good plan! If you get stuck feel free to create a "work in progress" PR so we can help you.
Thanks for your help!

[2017-10-02 15:11] afgane commented on #93
Closed by #97.

[2017-10-02 15:11] #93 closed

[2017-10-02 16:36] alenthomas commented on #93
:disappointed:

[2017-10-02 16:42] bgruening commented on #93
@alenthomas thats unfortunate. Sorry :(
But there are a few other things you might want to look at. We appreciate any help! Thanks!

[2017-10-06 11:53] nuwang opened #98 "cloudbridge no longer needs individual values for ec2 connection"
Currently, cloudlaunch asks for ec2 connection details as a list of individual values, as follows:
[code]
However, after the boto3 upgrade, it's no longer required to provide these individually. Simply providing
ec2_endpoint_url
s3_endpoint_url
use_ssl
ssl_verify
and ec2_region_name is sufficient.

So we should be able to collapse ec2_region_endpoint, ec2_conn_path and ec2_is_secure to a single va

[2017-10-09 21:36] thirdknife opened #100 "Cannot use Social Login"
I have setup locally. When I try to use social login to sign up I get Internal server error.

[code]

What's missing for me?

[2017-10-10 10:54] nuwang commented on #100
@thirdknife You'll need to go into the django admin at localhost:8000/admin and register a social application under "social accounts". We use django-allauth for social login, so configuration instructions for various platforms are available here: https://django-allauth.readthedocs.io/en/latest/

I usually use twitter or github since they are localhost friendly.

[2017-10-10 14:45] machristie commented on #100
If it helps here are my notes on what I did to add GitHub locally:

----
Setting up allauth for GitHub
* for localhost development, change the domain of **example.com** in **Sites** in admin to `localhost`
* create a **social application** in admin
    * select GitHub as provider
    * client id and secret
        * come from creating a [Developer OAuth App in GitHub](https://github.com/settings/d

[2017-10-13 18:29] thirdknife commented on #100
All set up but getting this error.

<img width="1440" alt="screen shot 2017-10-13 at 11 23 32 pm" src="https://user-images.githubusercontent.com/885125/31560414-9d8c92c8-b06d-11e7-88f2-2f1ad0c6c313.png">

and application under Github looks like this.

<img width="812" alt="screen shot 2017-10-13 at 11 25 01 pm" src="https://user-images.githubusercontent.com/885125/31560568-3c4a673c-b06e-11e7-8bbc-

[2017-10-13 19:00] afgane commented on #100
It should be port 4200 instead of 8000, like so:
![image](https://user-images.githubusercontent.com/338642/31561803-131ddc32-b027-11e7-9ac7-504e5807c55c.png)

[2017-10-13 19:06] thirdknife commented on #100
Did it, same thing. 4200 is the frontend, the callback should be with django?

[2017-10-13 19:24] afgane commented on #100
The callback is going back to the frontend and hence the url/port must match. Sorry for reiterating but can you please check that the _Authorization callback URL_ is the one pointing to port 4200? I just tried swapping this around a bit and if I set it to 8000, I get the same error you captured above.

[2017-10-13 19:35] thirdknife commented on #100
It worked! After accessing the Github grant I am shown this page.

<img width="1440" alt="screen shot 2017-10-14 at 12 32 22 am" src="https://user-images.githubusercontent.com/885125/31563147-5d5c1e62-b077-11e7-9694-bcf59b96d1bf.png">

[2017-10-13 19:40] nuwang commented on #100
@thirdknife Does your django superuser name or e-mail happen to be the same as the github login? If so, you may be presented with this page. Try changing your superuser name/e-mail to be unique, and it should work.

[2017-10-13 19:41] thirdknife commented on #100
Yeah, I registered with different email but my thought was about the styling. Is this styling expected?

[2017-10-13 19:42] nuwang commented on #100
Yes, we haven't created a replacement template, since this issue would generally only crop up for developers.

[2017-10-13 19:46] nuwang commented on #100
I guess we can close this issue, but would need to open two new ones
1. Add dev. instructions on configuring local dev auth setup.
2. Create replacement template for all-auth signup

[2017-10-13 19:46] #100 closed

[2017-10-13 19:48] nuwang opened #101 "Add dev. instructions on configuring local dev auth setup"
Currently, there are no instructions on how to get started with a local cloudlaunch, and how to configure initial social auth settings etc. See: https://github.com/galaxyproject/cloudlaunch/issues/100 for context.

[2017-10-13 19:49] nuwang opened #102 "Create replacement template for all-auth signup"
If you attempt to signup with social auth, and a user account with that e-mail account already exists, an untemplated page is displayed to the user. This should be replaced with a properly themed page. See: https://github.com/galaxyproject/cloudlaunch/issues/100 for context.

[2017-10-13 19:50] nuwang commented on #100
@thirdknife Thanks for reporting these. I've created two new issues above for further tracking. Let is know if you run into any more issues.

[2017-10-13 20:07] thirdknife commented on #102
Will the template replacement apply to the UI project written in angular?

[2017-10-14 06:22] nuwang commented on #102
Yes, hitting that django template url should probably just cause a redirect to an appropriate path in the Angular Singular Page application, where the new template will reside. As long as the path doesn't reside in: https://github.com/galaxyproject/cloudlaunch-ui/blob/master/proxy.conf.json, the SPA should get priority in handling it.

[2017-10-16 16:06] #89 closed

[2017-10-17 15:12] nuwang opened #103 "Better progress reporting when launching"
As discussed during the meeting, the following enhancements came up
* A progress bar to indicate launch progress
* Maybe allow applications to decide between reporting a fixed list of tasks, or progress as a percentage

[2017-10-17 22:56] gnaneshan opened #104 "script crashing while executing "python manage.py migrate""
Hi there,

I was following instructions as given in https://github.com/galaxyproject/cloudlaunch. When running "python manage.py migrate" got the following warnings and errors. Please help to fix this.

Thank you,

Gnani

WARNINGS:
baselaunch.Application.category: (fields.W340) null has no effect on ManyToManyField.
Operations to perform:
  Apply all migrations: account, admin, auth, authtoken, ba

[2017-10-18 13:00] afgane commented on #101
Should be done with e314026bd5a3d2f337d4902a7bf2c2e611507c2c, 1d1e8d983e5bb41286dd35f94bac6978f5b4aae8, and 5e73159cd017332da8271efe1cbacf83a7228cec

[2017-10-18 13:00] #101 closed

[2017-10-18 13:03] nuwang commented on #104
Sorry to hear about this - this problem occurred due to some refactoring work we did recently and only occurs on postgres. We are working on a fix at the moment. In the meantime, can you use sqlite instead? Is this a development instance or a production instance?

[2017-10-18 13:38] nuwang commented on #104
This has been fixed in: https://github.com/galaxyproject/cloudlaunch/commit/b90798102c1c682ade6ec8da52e22f35c86d40d8

Thanks for reporting the error and let us know whether this solves the problem.

[2017-10-18 14:58] gnaneshan commented on #104
Hi,
Your fix solved the bug.
Thank you very much.
Cheers,
Gnani

[2017-10-18 20:43] #104 closed

[2017-10-22 20:57] afgane opened #109 "Create OpenAPI spec for CloudLaunch"
CloudLaunch exposes a REST API for manipulating IaaS infrastructure and CloudLaunch-specific appliance management functionality that would be great to have language-specific bindings for. OpenAPI spec, probably using swagger.io tools, seems like the best way to go about generating the bindings.

[2017-10-23 21:36] hackdna opened #110 "Launching appliance v16.10 and v17.05 appears to fail in web UI"
### Steps to reproduce
Launch either version 16.10 or 17.05 using https://beta.launch.usegalaxy.org/catalog/appliance/galaxy-cloud

### Observed results
* Web UI shows "FAILURE" in the Status column
* Cluster launches successfully

### Expected results
Web UI to show correct cluster status

[2017-10-24 02:48] afgane commented on #110
This was fixed in https://github.com/galaxyproject/cloudlaunch/commit/61ee978eb77b57160c933f090fa7350a6185d2b5. Thanks for the report.

[2017-10-24 02:48] #110 closed

[2017-10-24 09:18] nuwang opened #111 "Rename slug to id?"
Some primary keys use slug and others use id, which makes writing client code difficult, since you have to know in advanced whether an object is using slug or id. Since it doesn't matter whether the pk is a slug or not as it's autogenerated from the name anyway, it seems better to rename everything to ID.

[2017-10-24 11:11] afgane commented on #111
One reason for going down the slug path may be readability of the URLs, if we care about that. The ID's typically result in shorter URLs but they do expose a bit more about the deployment so perhaps should be encoded... Having said that, I don't have a strong opinion one way or another.

[2017-10-24 11:14] nuwang commented on #111
What I meant was that we keep using a slug, but rename slug->id. That way, we can still have friendly urls etc., but we can always refer to an object's id by id, rather than having to switch between slug and id. So application.slug becomes application.id, but remains a slug value.

[2017-10-24 14:16] hackdna opened #112 "Impossible to retrieve saved clusters"
### Steps to reproduce
1. Go to step 2 of [launching a Galaxy Cloudman appliance](https://beta.launch.usegalaxy.org/catalog/appliance/galaxy-cloud)
1. Click on "Fetch Saved Clusters"

### Observed results
* "Retrieving Saved Clusters" is displayed but list of saved clusters never appears
* Web browser console shows:
[code]

### Expected results
Should be possible to select a saved cluster from a l

[2017-10-24 14:23] hackdna commented on #110
Great, thanks, it works for me now.

[2017-10-24 20:02] nuwang commented on #112
Thanks for reporting this. This has been fixed in: https://github.com/galaxyproject/cloudlaunch/commit/6e414211a322c39440eccb3dc0069da300732683
We'll push it out to the server tomorrow when the server is less busy.

[2017-10-25 07:08] nuwang commented on #112
The fix has been pushed out - let us know if it looks ok now.

[2017-10-25 15:18] hackdna commented on #112
Thanks, now the list of saved clusters is displayed. However, there is now a message: "SyntaxError: Unexpected token < in JSON at position 0" between "Advanced CloudMan options" and the instance type dropdown which shows "Retrieving instance types..." and is not selectable.

[2017-10-31 12:22] HEHgit opened #113 "SyntaxError: Unexpected token < in JSON at position 0"
Hi,
I'm using CloudLaunch for galaxy cloudman. Recently, I get an issue which prevents me to choose the kind of AWS instance I want to use (cf Image below).
![image](https://user-images.githubusercontent.com/32955596/32221212-f3d65d6a-be34-11e7-8424-37dca94b0949.png)
It's the only thing which is not working, as I can't choose an instance type, I leave it blank and a galaxy instance on m4.4xlarge i

[2017-10-31 14:53] nuwang commented on #96
Fixed in: https://github.com/galaxyproject/cloudlaunch/pull/99

[2017-10-31 14:53] #96 closed

[2017-10-31 14:57] afgane commented on #87
Done for VM-based apps. Still need to implement the delete functionality for CloudMan-based deployments so leaving this open until then.

[2017-10-31 14:57] #87 closed

[2017-11-02 13:58] machristie commented on #109
I'm currently working on this.

[2017-11-02 14:07] machristie commented on #109
TODO:
- [ ] [Add a schema view](http://www.django-rest-framework.org/api-guide/schemas/#the-get_schema_view-shortcut)
- [ ] [Create an OpenAPI/Swagger renderer](http://www.django-rest-framework.org/api-guide/schemas/#schema-output-formats) and update schema view to use this renderer
- [ ] Does authentication need any special handling?

[2017-11-02 14:09] bgruening commented on #109
@machristie this is so cool! Can you please document what you are doing. We might want to do the same for whole Galaxy and you experience can be priceless!

[2017-11-02 14:09] afgane commented on #95
Heh, I missed this issue when creating #109... so they're duplicates at this point.

[2017-11-02 14:14] nuwang commented on #109
Moved from: https://github.com/galaxyproject/cloudlaunch/issues/95
With Django Rest Framework Swagger, we should be able to generate an OpenAPI spec for the current API. We can then use that spec to generate client bindings for multiple languages.

- [ ] Generate OpenAPI spec from Django Rest Framework, possibly using DRF Swagger.
References:
a. http://www.django-rest-framework.org/api-guide/schem

[2017-11-02 14:14] nuwang commented on #95
Being implemented in: https://github.com/galaxyproject/cloudlaunch/issues/109

[2017-11-02 14:14] #95 closed

[2017-11-02 16:07] machristie commented on #109
@bgruening will do!

@nuwang thanks for these resources! Looks like I don't need to create a Swagger renderer after all.

[2017-11-02 16:46] hackdna commented on #112
Closing in favor of #113

[2017-11-02 16:46] #112 closed

[2017-11-02 16:48] hackdna commented on #113
See also: http://dev.list.galaxyproject.org/AWS-launch-error-tt4671159.html

[2017-11-02 17:40] afgane commented on #113
@hackdna are you also seeing above issue? As I replied to that email, I'm not able to replicate this.

[2017-11-02 17:49] hackdna commented on #113
Yes, on beta.launch.usegalaxy.org but not on launch.usegalaxy.org. I'm using Chrome 61 on OS X 10.12.6. Browser console shows:
[code]

[2017-11-02 17:54] nuwang commented on #113
@hackdna We think we know why the problem occurs. Can you try saving your credentials for now? That should probably fix the problem. After launching, delete the credentials. We'll put in a longer term fix soon.

[2017-11-02 17:56] nuwang commented on #113
You may need to set your saved credentials as the default for that cloud.

[2017-11-02 18:29] hackdna commented on #113
Thanks for providing a workaround. I can wait for the fix.

[2017-11-03 13:28] machristie commented on #109
# Using the simple openapi client

Following the [OpenAPI/Swagger instructions on this page](http://www.coreapi.org//tools-and-resources/example-services/).

Also [Django REST Framework docs](http://www.django-rest-framework.org/topics/api-clients/)

## Create a new virtualenv for the client

[code]

## Getting an application list

[code]

[code]

Issues:
* deployments isn't listed although it is

[2017-11-03 13:46] nuwang commented on #109
@machristie This is looking great! Did you have to annotate things manually using CoreAPI, or did it pick up most of the required data from DRF automatically?

Also, is there any advantage in using django-rest-swagger or does that generate the Swagger web UI only?

[2017-11-03 13:58] machristie commented on #109
@nuwang As a first step I didn't do any manual annotating or anything, just to see what is available out of the box.  This is all automatically generated at this time. You can see in [this commit](https://github.com/machristie/cloudlaunch/commit/b9db30f88a213583e3e02c105866beaef6149384) that there's almost nothing to it.  However, as I mentioned above, this is probably not sufficient.

django-rest

[2017-11-03 14:12] nuwang commented on #109
Ok, that's good to hear.

basic auth was explicitly disabled, as I recall it was either because it was not particularly secure when not using https, or because it kept popping up the dialogue or maybe both.
https://github.com/galaxyproject/cloudlaunch/blob/dev/django-cloudlaunch/cloudlaunchserver/settings.py#L217

However, it looks like token auth should work? `coreapi credentials add localhost "T

[2017-11-04 19:10] #113 closed

[2017-11-06 14:36] machristie commented on #109
There is [a bug preventing the setting of the Authorization header in coreapi-cli](https://github.com/core-api/coreapi-cli/issues/19).  To workaround this I downgraded `coreapi` to version 2.2.4
[code]

Here are the steps to authenticate with the command line client:
1. Log in with username and password using the form at http://localhost:8000/api/v1/auth/login/
2. Take the token and run the follow

[2017-11-06 14:51] nuwang opened #115 "Incorrect credentials use for healthcheck when multiple saved credentials exist for the same cloud"
Steps to recreate:

1. Save two sets of credentials for an OpenStack cloud, each in a different project (say projectA, and projectB).
2. Set credentials for projectA as default
3. Launch an instance using projectB credentials.

Expected:
The health check will  use the non-default projectB credentials and healthcheck should succeed.

Actual:
The health check uses the default projectA credentials, a

[2017-11-06 15:05] machristie commented on #109
There's a typo in the coreapi docs: there is no `--params` argument, instead it is `--param` or `-p`.  I can use the following to read a specific deployment
[code]

[2017-11-09 10:11] nuwang opened #116 "CloudLaunch base_vm_app is not creating a gateway"
When the base_vm_app launches an instance, it does not automatically create an internet gateway and a router, or associate it with the subnet. Also, it does not check whether an existing network is properly routable and connected to the network.

[2017-11-09 10:39] nuwang opened #117 "CloudLaunch does not delete partially launched instances"
If cloudlaunch gets past the launch instance step, but fails when assigning a floating ip, the status log will show an error. However, if you attempt to archive and delete the instance afterwards, the instance is left behind, although the archival occurs correctly.

[2017-11-10 01:57] machristie commented on #109
# Generating code with AutoRest

Basically following [these instructions](https://github.com/Azure/autorest/blob/master/docs/user/cli.md).

[code]

This fails because I need a more recent version of node. I downloaded 8.9.1 LTS release from https://nodejs.org/en/.

Now I can install autorest
[code]

Save the schema document to a file:
[code]

Try to generate Python code
[code]

This appears to fai

[2017-11-13 08:18] nuwang opened #118 "Split backend plugins into separate pip installable modules"
This issue is for discussing possible approaches to splitting out cloudlaunch plugin modules. It can probably only be taken up after this [issue](https://github.com/galaxyproject/cloudlaunch-ui/issues/22) is addressed.

Plugin mechanism:
-------------------
Our backend plugins currently all inherit from AppPlugin and are placed in a single [plugins folder](https://github.com/galaxyproject/cloudlau

[2017-11-20 20:39] machristie commented on #109
# Trying out [drf_openapi](https://github.com/limdauto/drf_openapi)

Installed drf_openapi and following [the drf_openapi quickstart guide](https://drf-openapi.readthedocs.io/en/latest/usage.html#customization-of-the-api-view).

* drf_openapi requires API versioning and supports URLPathVersioning. Added URLPathVersioning to REST_FRAMEWORK config
[code]
and changed API prefix to have a named captur

[2017-11-27 20:42] afgane opened #119 "Cannot start a previously existing Galaxy CloudMan instance"
After fetching saved clusters, CloudLaunch reports `'str' object has not attribute 'get'`, which originates from processing app config in CloudMan app plugin (https://github.com/galaxyproject/cloudlaunch/blob/dev/django-cloudlaunch/cloudlaunch/backend_plugins/cloudman_app.py#L31). It seems the data structure for the `cloudman_config` is off showhow as instead of containing much of `persistent_data

[2017-11-28 03:46] nuwang commented on #119
Fixed in: https://github.com/galaxyproject/cloudlaunch-ui/commit/04faca6bb038724d53bb177a2f0d59810fe28290

[2017-11-28 03:46] #119 closed

[2017-11-28 03:48] nuwang commented on #119
Also, webui has been redeployed to server.

[2017-11-28 14:19] HEHgit opened #120 "CloudLaunch v0.2 permanently loading"
Hi,
I'm using CloudLaunch for galaxy cloudman.
CloudLaunch was working until yesterday, but today the website is permanently loading without opening.
I'm using Chrome but I also tried with Explorer, Firefox and in the incognito mode, and I got the same issue all the time.

Thank you in advance for your help.

[2017-11-28 14:39] machristie commented on #109
# Trying out AutoRest against drf_openapi schema output

[code]

This produces similarly bad results, although it seems to fail halfway through. It doesn't generate any *operations* code, only models.

Somewhere along the way it seems like the names of the models are getting lost or maybe they need to be specified somehow. I'm trying to figure out if that is possible.

[2017-11-28 14:45] nuwang commented on #120
@HEHgit Thanks for reporting this - it looks like an upstream dependency was broken. It's been fixed in this commit: https://github.com/galaxyproject/cloudlaunch-ui/commit/c82fb67a1ce0b7d28111526ff5cd6671fa2a5108
The change has been redeployed and it should be working now.

[2017-11-28 14:45] #120 closed

[2017-11-28 16:19] machristie commented on #109
Summarizing discussion with Nuwan and Enis:
* AutoRest seems to assume that requests and responses will have defined schemas (defined in the `definitions` section of openapi schema doc). drf_openapi and django-rest-swagger don't infer these and instead the request and response is of type `object`.
* overall, it seems like these OpenAPI plugins to DRF are not good for generating client code. Their

[2017-11-28 16:36] HEHgit opened #121 "No such user or invalid password"
Hi,

I'm using CloudLaunch for galaxy cloudman, and in the "Cluster info log" I can read the messages:

"PROBLEM, running command 'sudo -u hdfs hadoop fs -mkdir /user/cloudgene' returned code '1', the following stderr: 'sudo: unknown user: hdfs sudo: unable to initialize policy plugin ' and stdout: ''

and

PROBLEM, running command '/bin/su - galaxy -c "export GALAXY_RUN_ALL='TRUE'; export GALAXY_

[2017-11-29 18:33] afgane commented on #121
The first issue is not a concern unless you're trying to use Cloudgene service.

For the second issue - is that the current state or was that reported in the log while in the end it recovered? The message seems to indicate Galaxy didn't start but if you can access it, it sounds like it recovered.
And for the password - yes, the mail server is not easy to setup for these transient instances so unle

[2017-12-01 19:21] machristie commented on #109
I've been able to integrate the coreapi schema and then write a simple Python script to use the coreapi client and list a user's AWS credentials:

[code]

With this as a staring point it should make developing a command line client much simpler.  Still to do are to see how to handle specifying a launch config file and how that works.

[2017-12-06 02:46] nuwang opened #122 "Launching an instance with Classic Provider selected on NeCTAR fails"
It probably fails when any network is selected. This is probably because get_or_create_default_subnet is calling subnet() instead of accessing it is as a property.

Stack trace:
  File "/opt/cloudlaunch-server/django-cloudlaunch/cloudlaunch/tasks.py", line 60, in launch_appliance
    user_data)
  File "/opt/cloudlaunch-server/django-cloudlaunch/cloudlaunch/backend_plugins/gvl_app.py", line 37, in

[2017-12-14 14:41] machristie opened #125 "Support getting an auth token when logging in through OpenID Connect"
There [are several ways of generating a Django REST Framework auth token](http://www.django-rest-framework.org/api-guide/authentication/#tokenauthentication) but they all either require a username and password or by using the admin or manage.py commands. There isn't, as far as I can tell, a self-service way for a user authenticating with OpenID Connect to get an auth token.

Implementing such a vi

[2017-12-14 15:21] afgane commented on #125
If I'm following along, I think this would also pave a path for authenticating with cloud providers without us needing to store or acquire credentials directly from the user but could instead request temporary creds from a cloud provider (e.g., AWS) based on the identity token from an authentication provider (e.g., Google).

[2017-12-15 16:58] machristie commented on #125
@afgane this is not nearly so ambitious as that 😄

Let me try to explain it this way. If a user goes to https://beta.launch.usegalaxy.org/today and logs in through GitHub, how would that user obtain a DRF auth token? The user doesn't have a password so the user can't go to https://beta.launch.usegalaxy.org/cloudlaunch/api/v1/auth/login/ to login and get an auth token. That's why I think, in this s

[2017-12-15 17:31] afgane commented on #125
This clarified the workflow/idea. Yes - sounds like we'll need that.

[2017-12-19 16:05] machristie commented on #109
@afgane This issue can be closed now.

There some follow on work still on-going:
* Issue #125 - getting an auth token for user logged in through OpenID Connect
* development of the CLI is in a separate repo: https://github.com/CloudVE/cloudlaunch-cli

[2017-12-19 16:06] machristie opened #127 "Document how to use cloudlaunch-cli"
Provide some getting started documentation for how to install, configure and use the [cloudlaunch-cli](https://github.com/CloudVE/cloudlaunch-cli).

[2017-12-19 16:09] afgane commented on #109
Thanks for seeing this through, and the summary of the follow-up tasks.

[2017-12-19 16:09] #109 closed

[2017-12-19 16:18] nuwang commented on #88
This was added in: https://github.com/galaxyproject/cloudlaunch-ui/pull/19
but I guess we forgot to update this issue.

[2017-12-19 16:18] #88 closed

[2017-12-19 16:19] #78 closed

[2017-12-19 16:21] afgane commented on #121
@HEHgit please reopen this issue if you're experience this issue again. For now, I'll just close it until we get more details on it.

[2017-12-19 16:21] #121 closed

[2017-12-19 16:22] nuwang commented on #98
Closed by: https://github.com/CloudVE/djcloudbridge/commit/b4d4b23305d858d0e7ecea75c4670d5e0744460b

[2017-12-19 16:22] #98 closed

[2017-12-19 16:23] afgane commented on #80
Done in https://github.com/galaxyproject/cloudlaunch-ui/pull/19

[2017-12-19 16:23] #80 closed

[2017-12-20 23:55] #125 closed

[2017-12-26 17:40] mdash84 opened #131 "Error in launching Galaxy Cloudman"
Hi,
I am facing some error message while launching galaxy cloudman using AWS credentials. The credentials were accepted but in the final page when I include the password and storage details as mentioned in the "Getting Started" page, I run into some sort of long error message and in the end displaying:  **Make sure that the selected options are a valid combination of settings. Press the Previous b

[2017-12-26 18:40] nuwang commented on #131
@mdash84 Thanks very much for reporting this and sorry about the setback. The error was caused by two issues back to back. The first was the one I mentioned in gitter "Your account is currently being verified." which is temporary. However, the second one in the screen shot above was caused because we updated the server a few hours ago, and this had caused a breakage. This has now been fixed.

You

[2017-12-27 07:17] mdash84 commented on #131
@nuwang Thanks a lot for your reply. I followed your instruction. When I do not specify any availability zone, I get the same error message as before. On changing the availability zone to us-east-1c, it started launching but then I got a message "FAILURE Launch task time limit exceeded; stopping the task."
Is it still an account or server problem or shall I try with other options of zone?

![launc

[2017-12-27 07:31] nuwang commented on #131
@mdash84 I just tried launching a few new instances and they seemed to launch correctly without any issues. The settings I used were: Galaxy Cloudman 16.10 with c3.large instance type. I selected a disk size of 20GB. I didn't select a placement zone and left the defaults as is.

Could you try this configuration and let me know whether it works ok?

[2017-12-27 10:49] mdash84 commented on #131
@nuwang I tried your setting and I am getting the error message "Your requested instance type (c3.large) is not supported in your requested Availability Zone (us-east-1a)". If I don't make any changes to the zone (see image 2), then by default it is using us-east-1a. If I specify different zone (see image 3), then it is taking a long time to launch eventually failing to launch. Could these issues

[2017-12-27 12:34] nuwang commented on #131
@mdash84 Thanks for the detailed report - it was very useful to isolate the problem. I think I know where the issue is now - there's a problem with routing traffic to the instance. I'm working on a fix now and will keep you posted.

[2017-12-28 05:38] mdash84 commented on #131
@nuwang Great I look forward to it.

[2017-12-28 07:42] nuwang commented on #131
@mdash84 I believe the issue should have been fixed with this commit: https://github.com/galaxyproject/cloudlaunch/commit/4c1975364926abe0a8be37280cc16985e394b6dd

Please try now and let us know if you run into any more issues.

[2017-12-28 09:46] mdash84 commented on #131
@nuwang It worked!!! Thank you so much for your help and consistent effort.

[2017-12-28 18:52] nuwang commented on #131
@mdash84 That's great news - thanks for all the testing and feedback!

[2017-12-28 18:52] #131 closed

[2018-01-08 09:18] HEHgit opened #132 "CloudLaunch v0.2 privacy error, the website is permanently loading"
Hi,

I'm using CloudLaunch for galaxy cloudman.
CloudLaunch was working until yesterday, but today I can't open the website because of a privacy error:
NET::ERR_CERT_COMMON_NAME_INVALID.
I'm using Chrome but I also tried with Explorer, Firefox and in the incognito mode, and I got the same issue all the time. I can bypass the privacy error in Fifefox, but then the website  is permanently loading wi

[2018-01-08 09:36] nuwang commented on #132
@HEHgit I couldn't recreate the issue locally in incognito as well as after updating to the latest chrome (63.0.3239.132) - could it be that your clock is out of sync as suggested here? https://www.drivereasy.com/knowledge/fix-err-cert-common-name-invalid-chrome-solved/

[2018-01-08 09:57] HEHgit commented on #132
@nuwang Thanks for your answer, actually the data and time are correct in my device

[2018-01-08 15:30] nuwang commented on #132
@HEHgit Thanks for the info - I think we've identified the issue. We've switched over to launch.usegalaxy.org from beta.launch.usegalaxy.org. Using the old name results in this error. We'll see whether we can fix this so that old clients are transparently redirected. Thanks for reporting this and please let us know whether the problem goes away when using the new dns name.

[2018-01-12 15:24] afgane opened #133 "Issues when used on a new cloud"
Tried to add a new **OpenStack** cloud so going from a clean setup we encountered the following issues:

- [ ] Router did not have a gateway set
- [ ] If a deployment fails after an instance has been launched, the instance ID does not get stored
  and that eventually leads to "Deployment not found" health check, which further invalidates the ability to delete the instance from CloudLaunch
- [ ] Th

[2018-01-15 09:01] HEHgit commented on #132
Thank you so much!

[2018-01-16 14:42] machristie commented on #127
This is done now:
* https://github.com/CloudVE/cloudlaunch-cli/blob/master/README.rst
* https://github.com/galaxyproject/galaxy-hub/blob/cloud-redo/src/cloud/cloudlaunch/index.md

[2018-01-16 14:42] #127 closed

[2018-01-17 08:17] nuwang commented on #132
This has been fixed in: https://github.com/galaxyproject/ansible-cloudlaunch/commit/20232224e808a321e84c7af810fd187066692732 and now beta.launch.usegalaxy.org will redirect to launch.usegalaxy.org. Thanks again for reporting @HEHgit .

[2018-01-17 08:17] #132 closed

[2018-02-02 14:37] guyparadise opened #136 "deployment on C5 fails"
Launch task failed: An error occurred (InvalidParameterCombination) when calling the RunInstances operation: Enhanced networking with the Elastic Network Adapter (ENA) is required for the 'c5.4xlarge' instance type. Ensure that you are using an AMI that is enabled for ENA

[2018-02-02 15:32] afgane commented on #136
Which application are you trying to launch? Not all applications are compatible with all instance types so a proper instance needs to be selected. If you are trying to launch Galaxy CloudMan, I'd suggest to try the Genomics Virtual Lab instead, which works with c5 instance types and has the latest Galaxy version (more details about this migration are available here https://galaxyproject.org/news/2

[2018-02-07 19:10] machristie opened #137 "Refactor cloudlaunch for use as a library"
Create a layer (actions?) in cloudlaunch that can be called directly as a library. This layer would sit below serializers/viewsets.

First step is to create some unit tests over the existing code to guard against regressions.

TODO
- [x] DeploymentTask tests
- [x] Deployment tests
- ~move only one launch task logic to model~
- ~factor out DeploymentSerializer.create logic to an action~
- ~what's t

[2018-02-19 19:22] nuwang opened #139 "Rename process_app_config to validate_app_config"
As per discussion - validate is probably a more appropriate name. Return value is a "validated config"

[2018-02-21 22:00] machristie commented on #137
We decided against trying to use cloudlaunch as a library. To do so we would need to create a new API layer in cloudlaunch that sits above the Django models and Celery tasks but below the DRF viewsets and serializers. This API layer would define the single API of CloudLaunch and the DRF viewsets and serializers would then just map that API to a RESTful interface.  Such a single API would prevent d

[2018-02-26 20:24] afgane commented on #137
Didn't we think the opposite was a possibility? For example, some functionality could be implemented at the lowest, library level but not exposed via the serializers to the REST API, which would cause divergence in what the library exposes vs. what's available via REST.

Also, so we can recall this later - one more bit we discussed was auth. It's likely that auth would be simpler if everything was

[2018-02-27 22:51] afgane commented on #139
This whole concept of `app_config` feels a bit unclear. We call it `app_config`, yet the validation method focuses just on user data that is to be passed to an instance (for example: https://github.com/galaxyproject/cloudlaunch/blob/dev/django-cloudlaunch/cloudlaunch/backend_plugins/base_vm_app.py#L32) and then the variable that houses the return value is in fact called `final_ud_config`.

In the

[2018-03-01 15:38] machristie commented on #137
Yes that's right. The set of functionality exposed via REST would be a subset of what is available in lower library level. In that sentence I meant that there wouldn't be divergence of how the functionality is implemented, for example, the API layer would provide a way to create a RESTART task, instead of it being implemented one way in the REST code and another way when used as a library.

[2018-03-24 21:31] martenson opened #140 "Galaxy in GVL out-f-the-box issue"
`R_COMM channel basic get exception: [Errno 32] Broken pipe`

as reported here: https://biostar.usegalaxy.org/p/27235/#27271

[2018-03-25 13:15] nuwang commented on #140
Thanks for reporting this. Initially, we thought that this was a firewall issue, and indeed, there was a slight misconfiguration in the firewall, but that hasn't fixed the problem. It's a rabbitmq comms issue, but why it's being triggered is not clear. Still looking into this and will report back.

[2018-03-26 13:53] martenson commented on #140
xref http://dev.list.galaxyproject.org/GVL-Galaxy-ver-18-01-instance-error-R-COMM-channel-basic-get-exception-Errno-32-Broken-pipe-td4671328.html

[2018-03-26 20:02] afgane commented on #140
This should be fixed now. The launcher has been updated to use a new image and newly launched instances seem to work fine. The root cause was an auto-upgrade of some packages that in turn broke the message queue so that update been explicitly disabled now.

I'll close this for now and we can reopen if the issue resurfaces.

[2018-03-26 20:02] #140 closed

[2018-03-30 15:04] machristie opened #141 "Rename DeploymentViewSet 'archived' filter_field"
This is to workaround a problem in coreapi where it doesn't handle very well when a form parameter and a query parameter have the same name. In this case it treats the DeploymentViewSet 'archived' form parameter as though it were a query parameter, which leads to a 404 and the deployment's archived value (nor any value) can be updated.

See https://github.com/CloudVE/cloudlaunch-cli/issues/4#issue

[2018-04-04 14:46] afgane opened #142 "'Token' has no attribute 'objects'"
This occured when I tried to setup a Django superuser in the CloudMan 2.0 app for a brand new installation. This was using a branch new (SQLIite) database.

[code]

@machristie: do you have any thoughts on why the above may be happening? CloudLaunch 2.0.2 is installed and I didn't try with the dev.

[2018-04-04 17:57] nuwang opened #143 "Eliminate duplication in django's INSTALLED_APPS section"
For CloudMan to work correctly, all of the dependencies for CloudLaunch need to be listed in the INSTALLED_APPS section. See commit here: https://github.com/galaxyproject/cloudman/commit/295d7324fb700713de7dcff04e7484057bddeeb6
Ideally, we'd just list cloudlaunch as the dependency in the INSTALLED_APPS section, and all of cloudlaunch's dependencies would get pulled in automatically.

We need to fi

[2018-04-04 20:57] machristie commented on #143
Some research:

1. Check that dependencies are installed with [system check framework](https://docs.djangoproject.com/en/1.8/topics/checks/)
2. Document the required dependencies. For example, [AllAuth just documents what is required](http://django-allauth.readthedocs.io/en/latest/installation.html)
    * likewise [for django-cms](http://docs.django-cms.org/en/latest/how_to/install.html#minimally-

[2018-04-05 18:11] nuwang opened #145 "Performing GET on api-auth-token endpoint results in internal server error"
I visited https://launch.usegalaxy.org/cloudlaunch/api/v1/auth/api-token-auth/, following the instructions in https://github.com/CloudVE/cloudlaunch-cli -> step 4.

It resulted in an internal server error.

Once I manually created the token from within the cloudlaunch admin, it returned the token correctly. So it looks like GET doesn't behave properly if no token is defined.

@machristie Did you e

[2018-04-05 20:13] machristie commented on #145
I think maybe I was thinking that api-token-auth would get_or_create the token, but we changed it to just get the token.

An [API token is created when a user is created](https://github.com/galaxyproject/cloudlaunch/blob/dev/django-cloudlaunch/cloudlaunch/models.py#L21), but we need a way to create tokens for existing users.  Would a Django migration be the best way to do that?

[2018-04-10 14:03] machristie commented on #137
This issue can be closed now. This work has essentially moved to cloudlaunch-cli, see https://github.com/CloudVE/cloudlaunch-cli/issues/4

[2018-04-11 13:27] machristie opened #146 "Configure base URL for API schema"
Provide a setting in settings.py that can be specified with an environment variable that will set the base URL for the API schema.  This is needed when the API is behind a proxying web server that changes its path prefix, for example, for launch.usegalaxy.org.

See http://www.django-rest-framework.org/api-guide/schemas/#url

See also CloudVE/cloudlaunch-cli#6 which depends on this issue.

See also

[2018-04-13 19:15] #137 closed

[2018-04-13 19:24] machristie commented on #146
@nuwang Is it okay if I work on this one, or have you already started on this?

[2018-04-13 19:27] machristie commented on #145
This was fixed by @nuwang in [a commit where GET handles missing token and POST can be used to create a token](https://github.com/galaxyproject/cloudlaunch/commit/691a2b6e7c78c6e3adcb67aab4e97fff44737815).

This issue can be closed now. However, I will also open an issue in cloudlaunch-cli to make sure that this gets documented how to get an API token.

[2018-04-13 19:43] machristie commented on #143
@nuwang I think you came up with a solution for this that involves importing cloudlaunch's settings in cloudman. Is that correct? Is there anything more to do with this issue?

[2018-04-13 19:45] nuwang commented on #146
@machristie Sure, that'd be great!

[2018-04-13 19:46] nuwang commented on #143
@machristie Yes, I think this is ok. I'll push in a fix with the relevant settings.

[2018-04-16 15:17] machristie commented on #146
Tested this with following nginx.conf config running locally on my laptop:
[code]

Then I ran it with:
[code]

I then started cloudlaunch locally with
[code]

And now I get the desired effect when I browse the schema.

[2018-05-21 07:56] nuwang opened #149 "Change design of tasks"
Currently, our tasks are modelled as an enum of simple tasks (e.g. LAUNCH, RESTART, HEALTH_CHECK), and do not have any parameterization, other than initial parameterization when creating a deployment. That is, tasks can return a result (status, result, traceback), but cannot be parameterized with a config. This means that we have a hard time modelling actions like configuration changes, or even tr

[2018-07-05 22:56] luoyistonefish opened #150 "Galaxy cloudman launch failure"
Message:
FAILURE
Create appliance task failed: An error occurred (PendingVerification) when calling the RunInstances operation: Your account is currently being verified. Verification normally takes less than 2 hours. Until your account is verified, you may not be able to launch additional instances or create additional volumes. If you are still receiving this message after more than 2 hours, pleas

[2018-07-06 00:07] afgane commented on #150
Has it been more than 2hrs since your account on AWS was created? If so, can you access their dashboard to verify the credentials you're using?

[2018-07-06 00:48] luoyistonefish commented on #150
I just re-launched a new one. Seems working now.

On Thu, Jul 5, 2018 at 8:07 PM, Enis Afgan <notifications@github.com> wrote:

[2018-07-19 23:21] machristie opened #151 "Allow deploying to an existing host"
Allow a user to specify a username and host address and deploy an application to it. CloudLaunch will have a special private/public SSH key pair and will instruct the user to add the public key to host.

This requires a few different changes:
* [ ] separate out logic of configuring a host from the app plugins so that it can be reused
* [ ] change the data model so that deployments can be associate

[2018-08-02 04:42] Slugger70 commented on #140
What was the fix @afgane? Is there a way to revert the changes so that Rabbit works again? I'm experiencing the same issue on a machine that I don't want to kill

[2018-08-24 06:49] smilesang79 opened #153 "Failure in Galaxy Cloud lunch"
I followed the directions at https://galaxyproject.org/cloudman/getting-started/ and received this meesage at the end.  I do not know what to do to handle this.

FAILURE
Create appliance task failed: An error occurred (Unsupported) when calling the RunInstances operation: The requested configuration is currently not supported. Please check the documentation for supported configurations.

[2018-08-24 07:53] nuwang commented on #153
@smilesang79 Can you let us know what settings you changed during launch? In particular, what instance type you selected, and what placement zone?  All settings that were changed from the defaults would be useful because it looks like some combination of settings in triggering the issue.

[2018-09-12 05:30] nuwang commented on #143
Fixed in: https://github.com/galaxyproject/cloudman/commit/d0630ef888d94c54c4e18f43fa1206cebf9f1899#diff-2cec1b1885bdcd2329b82165edb85dbe

[2018-09-12 05:30] #143 closed

[2018-09-12 05:36] #136 closed

[2018-09-12 05:36] nuwang commented on #136
Closing due to inactivity.

[2018-09-12 05:37] nuwang commented on #153
Closing due to inactivity.

[2018-09-12 05:37] #153 closed

[2018-09-12 05:37] #150 closed

[2018-09-12 05:38] #142 closed

[2018-09-12 05:38] #146 closed

[2018-09-12 05:40] nuwang commented on #122
Fixed in: https://github.com/galaxyproject/cloudlaunch/commit/e0033dc69ea59689801673cf89e0b30dad1d900c

[2018-09-12 05:40] #122 closed

[2018-09-12 05:41] #145 closed

[2018-09-21 03:23] meokchen opened #154 "Invalid name: cloudlaunch_key_pair"
How can I figure this Error as below:
FAILURE
Create appliance task failed: Invalid name: cloudlaunch_key_pair. Name must be at least 3 characters long and at most 63 characters. It must consist of lowercase letters, numbers, or dashes. The name must not start or end with a dash.

Thanks so much!

[2018-09-24 05:50] nuwang commented on #154
@meokchen Can you let us know which application you were trying to launch when this error came up? The issue seems to be with the name of the key pair, which, due to a recent change, should have dashes instead of underscores. It could be a misconfiguration of our backend after the upgrade a few days ago.

[2018-09-24 17:25] #154 closed, assigned to nobody

[2018-10-16 06:02] Mrudhulaks opened #158 "Galaxy cloud launch failure"
Hi,
I was trying to launch GVL into Nectar cloud and this message popped up
'FAILURE
Create appliance task failed: 'NoneType' object has no attribute 'gateways' .
Could you please help me resolve this.
Thank you

[2018-10-16 06:34] nuwang commented on #158
On NeCTAR, do you have a quota for networks, routers and gateways for your project? You may have to login to the NeCTAR dashboard to check. If you don't have any quota at all for your project, it should work fine. Judging from the error however, it looks like you have a quota for networks only, but not routers, subnets and gateways, or your quota is maxed out. So you will either need to request mo

[2018-10-18 15:43] almahmoud opened #159 "Admin Panel Cloud Editing"
When editing a cloud in the admin panel, if the 'Name' is changed, the cloud gets modified, but if the 'Slug' is changed, it instead creates a new Cloud and keeps both.
<img width="1032" alt="screen shot 2018-10-18 at 11 42 16 am" src="https://user-images.githubusercontent.com/14061824/47166757-ead73800-d2ca-11e8-8cbc-b0791751ebc7.png">
<img width="1033" alt="screen shot 2018-10-18 at 11 42 26 am"

[2018-10-20 18:28] nuwang commented on #158
@Mrudhulaks Hi, did you manage to resolve this issue?

[2018-10-24 13:18] nuwang commented on #158
Assuming resolved.

[2018-10-24 13:21] nuwang commented on #139
Fixed in: https://github.com/galaxyproject/cloudlaunch/commit/1ef5b89fbd160a80195dab2a7ac32e8ee72d3728#diff-626b539de7052317f2cf428920ec93a3

[2018-10-24 13:21] #139 closed

[2018-10-26 05:03] udaydd opened #160 "CloudLaunch V2 failure to launch galaxxy 18.05"
FAILURE
Create appliance task time limit exceeded; stopping the task.

[2018-10-26 05:33] nuwang commented on #160
@udaydd I just tried launching two instances on AWS and NeCTAR but didn't run into the issue. Can you give us more details about what settings you changed, if any, and what the message was before the time limit was exceeded? Did it get to the stage where it says:
[code]
Also, more details such as which cloud you launched, which application/version and any other relevant settings would be useful.

[2018-10-26 06:16] udaydd commented on #160
Thank you for your response. Yes I got the message while installing on AWS with m5 large cluster with 4 CPU. Waiting for application to become ready at http://<ip_address>/ but at the end it is reporting failure. Let me please know your AWS specifications and configuration I will use the same and try once again. Best
    On Friday, 26 October, 2018, 11:03:16 AM IST, Nuwan Goonasekera <notification

[2018-10-26 07:30] nuwang commented on #160
In the meantime, you may have to manually delete the instance that was created through the AWS console.

[2018-10-26 12:16] udaydd commented on #160
Nuwan,I new to Galaxy launch on AWS using CloudLaunch. Could you please give me detailed steps to do it properly? I have been trying hard without success with the same time out error.Best,Uday
    On Friday, 26 October, 2018, 1:00:56 PM IST, Nuwan Goonasekera <notifications@github.com> wrote:

In the meantime, you may have to manually delete the instance that was created through the AWS console.

[2018-10-26 12:19] nuwang commented on #160
@udaydd We are updating the server at the moment, and the fix should be ready in a few minutes. I'll message you here when done.

To delete your existing instance, please login to the AWS dashboard: https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#Instances:sort=publicIp
You will see your instances there. Right click on the instance, and selecting "instance state" -> terminate, and that

[2018-10-26 12:29] nuwang commented on #160
@udaydd We've just completed the update. Please give it a go and let us know whether it looks ok.

[2018-10-26 16:08] udaydd commented on #160
Still I continue to get same error  like belowFAILURE 
Create appliance task time limit exceeded; stopping the task.

I am not sure  where is the problem? 

    On Friday, 26 October, 2018, 6:19:41 PM IST, Nuwan Goonasekera <notifications@github.com> wrote:

Reopened #160.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-26 18:31] nuwang commented on #160
@udaydd Could you login to the AWS console, and check whether the instance has a public IP assigned to it? If so, can you try accessing the public IP directly and see whether that works.

If you cannot access by IP (which if my hunch is correct, you should not be able to), could you go to VPCs->Route table in the AWS Console here: https://console.aws.amazon.com/vpc/home?region=us-east-1#routetable

[2018-10-26 19:44] nuwang commented on #160
@udaydd We found one more minor issue which has now been fixed. The issue is that some of these conditions are difficult to trigger depending on existing networking setups, but we think it's all good now. Let us know how it goes.

[2018-10-27 08:05] udaydd commented on #160
Thank you Nuwan for all the help. Yes I could successfully launch GVL today on AWS. But when I open galaxy portal web address bar shows Not secure site. What is the issue now?
Regards,Uday
    On Friday, 26 October, 2018, 6:19:41 PM IST, Nuwan Goonasekera <notifications@github.com> wrote:

Reopened #160.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2018-10-27 08:15] nuwang commented on #160
@udaydd I'm glad to hear it's working. The reason you see "not secure", is because https is not enabled by default. This is normal and can be safely ignored (unless you are dealing with highly sensitive information, in which case you can enable https through some admin options).

[2018-10-27 08:15] #160 closed

[2018-10-27 08:20] udaydd commented on #160
Thank you for all help and cooperation
    On Saturday, 27 October, 2018, 1:45:41 PM IST, Nuwan Goonasekera <notifications@github.com> wrote:

@udaydd I'm glad to hear it's working. The reason you see "not secure", is because https is not enabled by default. This is normal and can be safely ignored (unless you are dealing with highly sensitive information, in which case you can enable https throug

[2018-10-27 14:45] nuwang commented on #116
Closed by: https://github.com/galaxyproject/cloudlaunch/commit/fe449aff3d86906759a0cfd10f9e7d4793b94f89

[2018-10-27 14:45] #116 closed

[2018-10-30 18:44] scottx611x opened #163 "AssociateAddress operation fails when bringing up a 17.05 Galaxy Cloudman cluster"
### Steps to reproduce
1.  Go to https://launch.usegalaxy.org
2. Select a `Galaxy CloudMan` instance from the catalog
3. Launch a 17.05 cluster on AWS like so:
- ![screen shot 2018-10-30 at 2 21 47 pm](https://user-images.githubusercontent.com/5629547/47741192-0d187080-dc50-11e8-8eb9-4b37d7a0d930.png)
- ![screen shot 2018-10-30 at 2 22 45 pm](https://user-images.githubusercontent.com/5629547/47741

[2018-10-31 11:57] nuwang commented on #163
@scottx611x Thanks for the detailed error report. I tried launching an instance with the same settings and didn't run into this issue. I also checked the server logs and found the full stack trace:
[code]

So nothing really pops out, other than the fact that boto's AssociateAddress call is failing. Could you please try the following:
1. Double check that the AssociateAddress permission has not bee

[2018-10-31 14:27] scottx611x commented on #163
Hi @nuwang, thanks for getting back to me so quickly!

My IAM user is assigned a policy with full administrative access:
[code]

I unfortunately am not able to delete/release all of my Elastic IPs currently as some are related to production deployments, but I've gone ahead and cleaned up what I could.

After doing this I'm still running into the same issue. There was also no new Elastic IP created

[2018-10-31 14:37] nuwang commented on #163
@scottx611x Thanks for eliminating those as potential issues. The only other thing I can think of is that there are multiple internet gateways, and perhaps the wrong gateway is being found.
https://github.com/CloudVE/cloudbridge/blob/f277e60ec67ddfaaebab8c26a0edc32f4d666ce9/cloudbridge/cloud/providers/aws/resources.py#L1252

Could you check whether there's more than one internet gateway with the n

[2018-10-31 15:30] scottx611x commented on #163
@nuwang There exists a VPC: `cloudbridge-net`, with a single Internet Gateway: `cloudbridge-inetgateway` attached to it, no others.

[2018-10-31 17:07] nuwang commented on #163
Thanks Scott. The line that's raising the exception (103) is trying to reattach an existing IP. The line in question is here:
behttps://github.com/galaxyproject/cloudlaunch/blob/f27291287f390dffc68980a4cd887ffaa72c4e25/django-cloudlaunch/cloudlaunch/backend_plugins/base_vm_app.py#L103

So presumably, it is either misidentifying an already attached IP as being free, or picking up an unrelated free

[2018-10-31 18:44] almahmoud commented on #163
I tried to launch a Cloudman instance myself, and it worked as expected.
I've been looking at this for a few hours. Following the Sentry issue I was able to pinpoint some potential leads, and I contacted Scott to check on the IP and Instance (by ID procured from Sentry), and in fact the problem is that the IP that is being attached is already in use. I don't yet know why that would happen, but tha

[2018-10-31 19:04] almahmoud commented on #163
https://github.com/CloudVE/cloudbridge/commit/66fd4ad3346b1136717577cae85b35bdac6e614f should solve this issue!
Thanks to a conversation with Scott on Gitter, we found out that the IP Address was not associated with any instance, but was still associated with a Network Interface. Our CloudBridge method was looking for associated instances to check whether an IP is in use, thus not catching the edg

[2018-10-31 19:16] scottx611x commented on #163
@almahmoud Awesome & super speedy! Keep me updated as to when CloudVE/cloudbridge@66fd4ad   is utilized at https://launch.usegalaxy.org and I'll give it another spin. Thanks again @nuwang & @almahmoud

[2018-11-01 01:29] afgane commented on #163
I just updated the launch server to include this change so feel free to try it @scottx611x and please let us know how it goes.

[2018-11-01 06:44] nuwang commented on #163
Awesome work @almahmoud. Surprised that this flew under the radar for so long. Is there a way we could write a test for this and/or trigger it in a cross-cloud way?

[2018-11-01 13:03] scottx611x commented on #163
I'm back up and running again!: ![screen shot 2018-11-01 at 9 02 04 am](https://user-images.githubusercontent.com/5629547/47853342-d4de7280-ddb4-11e8-9f1e-d47a83387dc6.png)

Thanks for the efforts on all fronts and I hope all is well. Going to close this one.

[2018-11-01 13:03] #163 closed

[2019-01-18 03:31] VJalili opened #164 "How provider status map to Cloudlaunch status?"
While OpenStack reports my instance status as `Shutoff`, CloudLaunch shows it `RUNNING`. Not sure if this related to how vendor status are mapped to cloudlaunch status, or it is bug.

[2019-01-29 16:54] afgane opened #166 "Report to the user when an instance was created but launch failed"
I just experienced a seemingly random failure during an instance launch where CloudLaunch was not able to attach a public IP to an instance, resulting in a failed deployment. However, an instance was launched but the error message that's propagated to the user does no highlight that. In turn, a user may have a running instance without knowing it. We should keep track of the fact an instance was ac

[2019-01-30 00:21] afgane commented on #164
Do you remember if the periodic health check ran between the instance being shutoff and the status in CloudLaunch? Health check runs every 5 minutes so there can be a period of inconsistency.

The reason I ask is because instance states seem to be mapped suitably: https://github.com/CloudVE/cloudbridge/blob/master/cloudbridge/cloud/providers/openstack/resources.py#L267

[2019-01-30 00:32] afgane commented on #166
The second part of this issue is detailed in https://github.com/galaxyproject/cloudlaunch/issues/117

[2019-01-30 00:33] afgane commented on #111
In light of https://github.com/galaxyproject/cloudlaunch/issues/159, renaming to `id` makes even more sense.

[2019-01-30 00:36] afgane commented on #84
Done in https://github.com/galaxyproject/cloudlaunch-ui/pull/30.

[2019-01-30 00:36] #84 closed

[2019-01-30 01:13] VJalili commented on #164
Yes, status seems to be mapped properly.

Not sure how long I waited for the status to be updated, but I guess it was considerably longer than 5min (maybe 1day).

[2019-03-12 15:33] nuwang opened #169 "Install fail2ban in cloudlaunch docker"
We can use fail2ban to monitor django logs and ban repeated attempts to login.

[2019-03-23 20:44] mitchemj opened #170 "I don't know what happened"
?

[2019-04-22 18:10] xguse opened #171 "Delete task failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'>"
I have gotten this error twice now when attempting to trash an appliance and start over.

[code]

[2019-04-23 05:01] nuwang commented on #171
@xguse Can you check whether you saved your credentials in cloudlaunch or used temporary credentials? If you used temporary credentials, the instance will have to be deleted through the cloud provider manually - you can only archive the entry from within cloudlaunch. The error message should be a bit more informative than this, so I'll flag this as an enhancement for now.

[2019-04-23 05:03] nuwang commented on #170
@mitchemj Can you provide us with some details or screenshots perhaps? Which appliance you tried to launch, and what sequence of events took place?

[2019-05-28 19:46] jgoldst7 opened #172 "CloudBridgeBaseException"
I was recently trying to launch an instance of genomics virtual lab through cloudlaunch v0.2 on AWS. I got this error

"FAILURE
Create appliance task failed: CloudBridgeBaseException: An error occurred (PendingVerification) when calling the RunInstances operation: Your request for accessing resources in this region is being validated, and you will not be able to launch additional resources in this

[2019-05-28 19:50] afgane commented on #172
Yes, it looks like the IAM account you have transitioned to does not have the necessary permissions. I know assigning `AmazonEC2FullAccess` and `AmazonS3FullAccess` policies to the IAM user account works, but if you need more granularity than that, we can poke deeper to try and deduce finer control.

[2019-05-28 19:57] jgoldst7 commented on #172
Hello, Yes I made sure to attach both of those policies to the IAM user account and then used those credentials in my configuration. Could there be any other reason that error would pop up? Let me know if you need any further information

[2019-05-28 20:07] jgoldst7 commented on #172
quick follow up, I received an email from AWS saying my account has been verified and now when I rerun it it works, so it looks like it wasn't really an error, just a hold-off until verification. So all is good now, thank you

[2019-05-28 21:14] afgane commented on #172
Glad to hear it got sorted out.

[2019-05-28 21:14] #172 closed

[2019-06-20 22:23] phyjoekim opened #173 "Get error launching galaxy 18.05 to east-us-1"
Everytime i try East-US-1 i get this error. i tried launching to other areas for example AWS ap-southeast-2 and it worked fine.
Not sure how to get around this error.
FAILURE Create appliance task failed: CloudBridgeBaseException: An error occurred (InvalidParameter) when calling the RunInstances operation: Security group sg-0ac4bfad8799dc296 and subnet subnet-09f54e424be711304 belong to different

[2019-06-24 11:45] afgane commented on #173
Until we publish a fix for this issue and update the live server, you should be able to access the AWS console at https://console.aws.amazon.com/vpc/home?region=us-east-1#subnets:sort=SubnetId and delete subnet `subnet-09f54e424be711304`. While logged into the console, perhaps best to also delete security group `sg-0ac4bfad8799dc296` from https://console.aws.amazon.com/ec2/v2/home?region=us-east-1

[2019-06-24 16:29] phyjoekim commented on #173
Thank you, this resolved the issue. I had to delete the subnet, internet gateway and security group, but this fixed the issue.

[2019-06-24 16:33] afgane commented on #173
Glad to hear that. We can leave this open for the time being to track the issue but may end up moving to to the [CloudBridge repo](https://github.com/CloudVE/cloudbridge) where this error originates.

[2019-06-24 16:50] phyjoekim commented on #173
Not sure if your reply email is monitored. But maybe you can help. So because I couldn’t get 18.05 launched, I launched 17.05.  And tried upgrading to 19.05. I downloaded it and installed the new version. But after reboots and starting galaxy it still shows 17.05. What step am I missing?

Best regards,
Joe Kim

From: Enis Afgan <notifications@github.com>
Sent: Monday, June 24, 2019 9:33 AM
To: gal

[2019-06-24 16:52] phyjoekim commented on #173
I meant 17.09 not 17.05

Best regards,
Joe Kim

From: Joe Kim
Sent: Monday, June 24, 2019 9:50 AM
To: galaxyproject/cloudlaunch <reply@reply.github.com>
Subject: RE: [galaxyproject/cloudlaunch] Get error launching galaxy 18.05 to east-us-1 (#173)

Not sure if your reply email is monitored. But maybe you can help. So because I couldn’t get 18.05 launched, I launched 17.05.  And tried upgrading to 1

[2019-06-24 16:54] phyjoekim commented on #173
Sorry, I double checked it is 17.05 you the old galaxy cloudman launch page.

Best regards,
Joe Kim

From: Joe Kim
Sent: Monday, June 24, 2019 9:52 AM
To: galaxyproject/cloudlaunch <reply@reply.github.com>
Subject: RE: [galaxyproject/cloudlaunch] Get error launching galaxy 18.05 to east-us-1 (#173)

I meant 17.09 not 17.05

Best regards,
Joe Kim

From: Joe Kim
Sent: Monday, June 24, 2019 9:50 AM
T

[2019-06-24 23:17] afgane commented on #173
Upgrades under GVL/CloudMan are unfortunately not simple. There are a lot of dependencies on how the overall system is built to enable semi-autonomous operation and hence a simple update to Galaxy tends not to work, particularly when doing such a large jump across versions. To do the update, it'll require some [understanding of the overall system](https://galaxyproject.org/cloudman/building/), and

[2019-06-24 23:41] phyjoekim commented on #173
Thanks you for your help. I will try out the new version you sent.

Best regards,
Joe Kim

From: Enis Afgan <notifications@github.com>
Sent: Monday, June 24, 2019 4:18 PM
To: galaxyproject/cloudlaunch <cloudlaunch@noreply.github.com>
Cc: Joe Kim <joekim@phytelligence.com>; Author <author@noreply.github.com>
Subject: Re: [galaxyproject/cloudlaunch] Get error launching galaxy 18.05 to east-us-1 (#17

[2019-06-25 03:11] phyjoekim commented on #173
Hi I was able to install, but I get this login page. Where do I go to setup an account.

[cid:image001.png@01D52AC8.ED98D660]

Best regards,
Joe Kim

From: Enis Afgan <notifications@github.com>
Sent: Monday, June 24, 2019 4:18 PM
To: galaxyproject/cloudlaunch <cloudlaunch@noreply.github.com>
Cc: Joe Kim <joekim@phytelligence.com>; Author <author@noreply.github.com>
Subject: Re: [galaxyproject/clou

[2019-06-25 12:44] afgane commented on #173
The username is `admin` and the password is whatever you supplied during launch. Galaxy will be available under `<instance_ip_address/galaxy/` URI (note the trailing slash as it's required).

[2019-06-26 00:20] phyjoekim commented on #173
Hi Enis,

I did get 19.05 installed and I am in the galaxy webpage.
I edited the galaxy.yml and added the admin: joekim@phytelligence.com<mailto:joekim@phytelligence.com> and rebooted the AWS server.
But I don’t see the admin tab.  In previous versions, I also added went to the ipaddress\cloud and there was a admin button that I added the emails. I don’t see this anymore.
Any idea how to do this?

[2019-06-26 20:46] afgane commented on #173
Making yourself an admin is done via the CloudMan application running at `https://<instance_ip_address>`. Once there, you can see an checkbox-like icon next to the galaxy application access url. If you click that, an editor should show up with `galaxy.yml` being available in one of the tabs. If you add the `admin_users` line there, and click save, it should work as soon as the Galaxy process start

[2019-06-26 21:06] phyjoekim commented on #173
Got it all working, thank you.

Thanks,
Joe Kim

________________________________
From: Enis Afgan <notifications@github.com>
Sent: Wednesday, June 26, 2019 1:46:51 PM
To: galaxyproject/cloudlaunch
Cc: Joe Kim; Author
Subject: Re: [galaxyproject/cloudlaunch] Get error launching galaxy 18.05 to east-us-1 (#173)

Making yourself an admin is done via the CloudMan application running at https://<insta

[2019-06-26 21:56] phyjoekim commented on #173
Hi one thing to note, when you launch this on AWS, if you choose the general options it auto generates the keypair and you cant download it afterwards.
Also the version that deploys doesn’t have the username logins enabled for putty, have to attach the keypair which you don’t have.
The other version I was able to login via ssh with ubuntu, but its disabled, so no way in.

I have to rebuild again a

[2019-06-27 13:38] afgane commented on #173
That's largely by design. Auto-enabling password-based ssh on an instance was something we had received complaints before as not being the best security practice. With the new deployment model, everything runs in containers and the plan is to expose the container control services using best-practice methods (e.g., APIs, Dashboard, in-broswer terminal) and enable controlled changes to the environme

[2019-06-27 20:02] phyjoekim commented on #173
Main case would be that if you use the default launch page and you don’t choose the advanced configuration, the deployment will auto create the keypair and you have no chance to download the key. So you will be locked out of SSH to server.

I am also getting this error now, when I try to  upload a larger file it gives this warning and start over again and again, never download the files.
I increas

[2019-08-03 20:49] srtandon opened #174 "galaxy cloud launch failure"
FAILURE Create appliance task failed: CloudBridgeBaseException: An error occurred (InvalidGroup.NotFound) when calling the CreateTags operation: The security group 'sg-03f14413d08de5f1d' does not exist from exception type: <class 'botocore.exceptions.ClientError'> Report this failure?
--

[2019-08-03 21:01] srtandon opened #175 "Galaxy Cloudman 2"
FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the CreateRole operation: User: arn:aws:iam::371917449555:user/learn_galaxy is not authorized to perform: iam:CreateRole on resource: arn:aws:iam::371917449555:role/cloudman2-kube-role

help?

[2019-08-05 16:21] afgane commented on #175
It seems the AWS account you are using does not have sufficient privileges to create the necessary resources. The `IAM:createRole` needs to be added as an allowed permission on the account.

[2019-08-05 16:25] afgane commented on #174
Can you try another launch of the same application?

If that does not work, can you log into the AWS console (https://console.aws.amazon.com/ec2/home) and under _Security Groups_ check if security group with `sg-03f14413d08de5f1d` exists. Unless you are using it for something else, try deleting it and repeat the launch procedure. Hopefully this was just a transient timeout issue.

[2019-10-12 03:00] VJalili opened #178 "Cannot permanently delete a running instance"
When I click the `Archive/Delete` button in front of a running instance, then choose the `Delete Permanently and Archive` option, I get the following error:

[code]

[2019-10-30 18:15] almahmoud opened #179 "[Admin Bug] Launch configs bug with no default cloud set"
Launch configs don't propagate to VM when the application doesn't have a default cloud set

[2019-11-05 18:26] kdbinder opened #180 "GCP Appliance Launch Failure"
Upon creating the appliance (post successful VPC creation), Cloud Launch fails showing:

It appears the API call is not formatted correctly

FAILURE
Create appliance task failed: CloudBridgeBaseException: <HttpError 400 when requesting https://compute.googleapis.com/compute/v1/projects/<PROJECT_ID>/global/networks/https%3A%2F%2Fwww.googleapis.com%2Fcompute%2Fv1%2Fprojects%2F<PROJECT_ID>%2Fglobal%2

[2019-11-06 05:19] #170 closed

[2019-11-06 05:20] #173 closed

[2019-11-06 05:20] #171 closed

[2019-11-06 05:22] nuwang commented on #180
@kdbinder Thanks for reporting this. @almahmoud is working on a fix and we'll keep this issue updated as we go along.

[2019-11-06 05:24] #175 closed

[2019-11-19 18:41] nuwang commented on #180
@kdbinder This has been fixed in: https://github.com/CloudVE/cloudbridge/pull/229
It's a bit puzzling because it seems to have been caused by a change in the GCP platform, and there's a mismatch between the url provided by the discovery endpoint and the url used by the resource (e.g. the discovery endpoint returns `https://compute.googleapis.com/` whereas the resource url is `https://www.googleapi

[2019-11-19 18:41] #180 closed

[2019-11-21 05:27] yl3 opened #181 "Unable to check status: botocore.exceptions.NoCredentialsError"
Hi,

I am getting the following error on my CloudLaunch instances page:

Weirdly, status checking appears to be successful for about 30 minutes for a newly launched instance until it fails with this error message.

[2019-11-21 07:31] nuwang commented on #181
@yl3 Can you confirm whether you used temporary credentials or stored credentials? Temporary credentials are designed to work this way - since they are not stored on the server, once they expire from the client (typically if you reload the page) - it's no longer possible to perform a health check.

[2019-11-21 23:18] yl3 commented on #181
I was using temporary credentials, so this makes sense. Thank you.

[2019-11-25 17:36] yl3 commented on #181
As a related question, is there a way to remove such GVL entries from CloudLaunch? When I use Delete Permanently And Archive, the previous launches with temporary credentials just stay there.

[2019-11-25 17:56] afgane commented on #181
You can click on the 'Archive' option and that will remove the items from your view. (They will still be available from the 'My Appliances' menu in the masthead under 'Launch History'.)

[2019-11-25 17:57] #181 closed

[2019-11-29 05:38] nuwang opened #182 "Correct credentials not being used."
This error was encountered by Jessica when trying to launch with both saved and temp credentials. Strangely, the keypairs were fetched, but the vm_types always error out.

She had 2 set of credentials saved with none set as default. Using temp credentials also did not help.

Could be related to: https://github.com/galaxyproject/cloudlaunch/issues/115

[code]

[2020-01-26 13:46] afgane opened #185 "Temporary credentials expire before a launch completes"
Using temporary credentials to launch a GVL instance for example (ie, one that takes longer than 10 minutes), results in the following status message because the temp credentials have already expired.
We should be keeping those creds a bit longer to at least show the final status.
[code]
Also, subsequent health checks can't be performed, which leads to the same message. We should recognize this an

[2020-02-13 20:22] keenanw27 opened #189 "Cannot terminate appliance"
Hello, I am unable to terminate and appliance. I get the following message:

UNABLE TO CHECK STATUS
Delete task failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'>

I didn't realize this instance hadn't been terminated and incurred substantial unintended costs. Please let me know how to make sure this is terminated.

[2020-02-13 21:03] almahmoud commented on #189
Hello,
Thank you for raising this issue.

It is advised to always check in the cloud console itself after you are done using an appliance. We try to have the most robust cleanup possible across clouds. As such, if there are issues we would gladly try to fix specific problems and generally take suggestions to improve the cleanup process. However, we unfortunately cannot guarantee that the cleanup w

[2020-03-12 04:59] mainulhossain opened #192 "Can't create AWS appliance for genomic virtual lab"
I'm getting following error while trying to create a new appliance in AWS. It seems I need to add GetRole to may user in AWS console. But I am a newbie to AWS and can't do that. Can anyone please help me?

`FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the GetRole operation: User: arn:aws:iam::032942674603:user/<user> is not authorized to perform: iam:GetRole

[2020-03-17 16:49] AechLyons opened #193 "For some reason the cloud instance we have is not showing ready from the GVL dashboard"
This instance has been up and working with no issue for months.  Today one of the data scientists try to get on to it and they are now getting the galaxy site with a red X.

I logged into the pod and restarted the service (run.sh with --daemon flag) and it still shows a red x but no errors when running the run script. I'm not familiar enough with this so my troubleshooting skills are a bit limited

[2020-03-17 17:30] nuwang commented on #193
@AechLyons Can you let us know which version of the GVL you are using? Also, which cloud?

[2020-03-17 17:35] AechLyons commented on #193
GVL Image: 4.4.0
I deployed in AWS

[2020-03-17 18:14] nuwang commented on #193
Normally, the Galaxy logs or cloudman logs would have some details on what might have gone wrong to cause the red X, however, I can't recall any generic reasons for why this might have happened off the top of my head, since our efforts are focussed on GVL 5, and we haven't been working on GVL 4.4 for a while now.

A machine reboot often works wonders in a situation like this, so assuming that this

[2020-03-17 18:17] AechLyons commented on #193
Ok I'll try that.  Thanks.  Is there a way to upgrade/update to GVL 5 or does that require a complete redeployment via the online tool?

[2020-03-17 18:17] nuwang commented on #193
Hmm... looks at this again, I'm a bit confused. Are you sure you're running a GVL 4.4? The galaxy-central folder is used by https://github.com/bgruening/docker-galaxy-stable, not the GVL. Wrong repo perhaps?

[2020-03-17 18:20] nuwang commented on #193
Yes, there's no easy upgrade path to GVL 5 unfortunately. It's a ground up rewrite. A fresh launch is needed.

[2020-03-17 18:21] AechLyons commented on #193
I grabbed the ver from the GVL dashboard under about.....was that not the right place to verify?

[2020-03-17 18:24] nuwang commented on #193
That is the right place, but you mentioned logging into a docker container. I also see a mention of a galaxy-central folder. Unless my memory is faulty, the GVL is using galaxy-app. Have you perhaps replaced the default galaxy version with the docker version perhaps?

[2020-03-17 18:35] AechLyons commented on #193
Its quit possible that happened.  This is something I dont normally mess with often.  Its usually a firedrill.  I do remember creating a ASAIM extension at the data scientists requests.  I might be on my own with this one.  Dammit

[2020-03-20 16:13] gpeet commented on #192
Hit the same issue because of outdated Galaxy instructions. All you need to do is add AdministratorAccess to your AWS IAM profile.

[2020-03-20 17:43] mainulhossain commented on #192
Hey, thanks. It works.

[2020-03-20 17:43] #192 closed

[2020-04-23 09:03] capraemanuele opened #195 "Cloudman"
UNABLE TO CHECK STATUS
Delete task failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'>

[2020-04-23 09:15] almahmoud commented on #195
This is likely due to credentials not being saved in CloudLaunch. If you opt not to save your credentials in your profile, CloudLaunch will be unable to monitor the instance. If you have the credentials saved but this is still showing up, could you please provide some information on what appliance you are launching, and for how long has it been running? I'll be happy to look into it and see if the

[2020-04-23 09:44] capraemanuele commented on #195
I type the corrected credential and now the galaxy cloud work hovever in cloud launch the error message still remain:

is this a problem? Can I continue to use galaxy cloud without problem?
Thank you in advance
Emanuele

    Il giovedì 23 aprile 2020, 11:15:48 CEST, Alexandru Mahmoud <notifications@github.com> ha scritto:

This is likely due to credentials not being saved in CloudLaunch. If you op

[2020-05-13 14:51] #193 closed

[2020-05-25 17:16] Abowcock opened #198 "Cannot launch cloudman despite having access key ID and secret key from AWS"
I have an AWS account, EC2, S3 and IAM along with an access key ID and secret key but am unable to launch Cloudlaunch in order to run Galaxy. The error message I get is: "FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the GetRole operation: User: arn:aws:iam::xxx:user/galaxy_xx is not authorized to perform: iam:GetRole on resource: role xx-genomics-virtual-lab-

[2020-05-25 17:34] almahmoud commented on #198
You need to give yourself more permissions through the IAM console (https://console.aws.amazon.com/iam/home#/users). Easiest fix is to give the user associated with your access credentials `AdministratorAccess`. Let us know if you encounter any other issues!

[2020-06-16 07:00] Mrudhulaks opened #201 "Galaxy on Nectar cloud"
Hi,

I am trying to launch galaxy on nectar cloud using GVL server.

I followed the tutorial to launch https://melbournebioinformatics.github.io/MelBioInf_docs/tutorials/gvl_launch/gvl_launch/

However, I could not launch it. I got the following error

mrudhula-genomics-virtual-lab-20-06-16t06-48Appliance: Genomics Virtual Lab (GVL) Version: GVL 5.0 beta2 (Galaxy 20.01) Cloud: NeCTAR | 3 minutes a

[2020-06-16 08:46] nuwang commented on #201
@Mrudhulaks According to the error message, it looks like there are not enough nodes in the availability zone you selected. It can be a bit tricky to get resources because NeCTAR is often running at capacity. Try selecting the "Default" zone in the launch page.

![image](https://user-images.githubusercontent.com/2070605/84752729-c2419d00-afdb-11ea-884f-2eacc84f2571.png)

This will try to use any z

[2020-06-16 09:14] Mrudhulaks commented on #201
Thank you for the prompt response. I tried all available zones on Nectar Melbourne. I got the same error. I tried using "Default" zone as well. I could not go beyond "Retrieving instance type" and launch it on "Default"

[2020-06-17 15:38] nuwang commented on #201
@Mrudhulaks It's most likely a transient capacity problem. It may be worth trying to launch again when a sufficient period of time has elapsed, and in non-peak hours so there's a higher chance of being able to get a VM. Let us know how it goes.

[2020-06-22 22:18] miaeyaho commented on #198
Hi almahmoud,
I have the same problem with 'GetRole operation'.
Can you please explain more detail on how to give the user with access credential explained by you? I'm a very beginner, I cann't follow the way to solve this problem. Thank you for your help in advance.

[2020-07-01 07:26] CynStr opened #204 "Log in to Keycloak email address and password"
I am able to successfully run GVL 5.0 beta3, however, what email and password combo am I to enter in the GVL launch window that appears after clicking the "Access address" link? I logged into CloudLaunch using Github but then then Github login does not work on the "Log in to Keycloak" window. The instructions in the Galaxy site are outdated and refer to a login ID and password (not an email addres

[2020-07-01 09:01] nuwang commented on #204
Hi @CynStr,

The username will be: admin
You have to use the same password you provided at launch time to cloudlaunch.

[2020-07-01 16:02] CynStr commented on #204
Thanks!

[2020-07-03 07:56] CynStr commented on #204
Me again, I am now able to launch but the galaxy link leads to a page "503 Service Temporarily Unavailable". Any update on when galaxy will be available again through GVL?

[2020-07-04 14:37] almahmoud commented on #204
There is a slight delay (roughly 2-3 minutes on AWS in my experience) between when the GVL app dashboard (I.e. CloudMan) and Galaxy come up, during which Galaxy path will respond with 503. This should be resolved automatically if you wait a bit longer. If not, it means the galaxy deployment is failing to come up. What machine size did you use and what cloud are you running on in that case?

[2020-07-07 17:46] CynStr commented on #204
Thanks for the response. I'm using AWS. I was just being impatient, it works if I wait.

[2020-07-07 17:46] #204 closed

[2020-07-07 19:45] miaeyaho opened #205 "GVL5.0 beta3 installation failure"
Hello,
I want to install GVL5.0 beta3 (galaxy20.01) on my Amazon cloud platform. However, I repetitively failed with the below failure message. Could you please let me know the way to solve this problem? I'm a beginner, so I really appreciate for you to show me the easiest solution as possible (:D). Thank you!
----------------------------------------------------------------------------------------

[2020-07-07 20:53] almahmoud commented on #198
You can either give yourself `AdministratorAccess` through the IAM console link given above, (and here's a rough tutorial for it: https://www.sweetprocess.com/procedures/_eG30mkvYDrfAmevj78A0i6E1GZE/add-an-administrator-to-your-amazon-aws-account/ ) or create an IAM policy (
https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage.html) mimicking the following specifications would b

[2020-07-07 20:53] almahmoud commented on #205
You can either give yourself `AdministratorAccess` through the IAM console link given above, (and here's a rough tutorial for it: https://www.sweetprocess.com/procedures/_eG30mkvYDrfAmevj78A0i6E1GZE/add-an-administrator-to-your-amazon-aws-account/ ) or create an IAM policy (
https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage.html) mimicking the following specifications would b

[2020-07-07 20:55] almahmoud commented on #195
As previously mentioned, the error is expected if you do not save your credentials before the launch because CloudLaunch does not keep your credentials so it cannot check on the status of the machine. It does not affect your live instance, you just have to make sure to clean up resources manually when you're done with it as CloudLaunch does not have your credentials after the launch to do so for y

[2020-07-07 20:55] #195 closed

[2020-07-07 20:56] #189 closed

[2020-07-07 20:58] #198 closed

[2020-07-07 23:16] #205 closed

[2020-07-15 23:09] vijayjidigam opened #207 "Access denied for GVL launch using AWS"
HI,

I'm trying launch GVL it shows me following error. I was already using cloud man but most of my Tools on Galaxy doesn't work. I was told by some one that Gal is updated version. SO i am trying to launch GVL with different log in credentials and different was account. Please help me in fixing this problem.

FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the

[2020-07-16 01:50] afgane commented on #207
This is because your AWS IAM account does not have sufficient privileges. See this issue for details on how to setup proper IAM policies: https://github.com/galaxyproject/cloudlaunch/issues/198#issuecomment-655128278

[2020-07-16 03:31] vijayjidigam commented on #207
Hi,

Thank you for your reply. I was able to give administrator access for the newly created IAM user. I went a few steps ahead and was able to see the access address with the following error. Your help is appreciated.

UNABLE TO CHECK STATUS
Health check failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'>

Thank you

[2020-07-17 02:38] afgane commented on #207
This is not necessarily an error and it occurs because you did no save your AWS credentials in your profile on CloudLaunch. As a result, CloudLaunch cannot check on the status of the machine it launched although the machine may be running just fine. If you choose to save your credentials, future launches will not report this message.

Also, it will be necessary to log into the AWS console and dele

[2020-07-17 07:02] jttsk opened #208 "cloudlaunch"

[2020-07-17 15:31] almahmoud commented on #208
Hello,
Did you experience an issue?
If so, on what cloud, and what was the error?

[2020-08-10 11:07] elettod opened #211 "GVL 5.0 beta4 (Galaxy 20.05) Failure"
I cannot start the instance. Please take in account that I am a new user, with no experience. Thank you!

FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the GetRole operation: User: arn:aws:iam::212571630875:user/cloudlaunch is not authorized to perform: iam:GetRole on resource: role elettod-genomics-virtual-lab-20-08-10-cm2-kube-role

[2020-08-10 15:37] nuwang commented on #211
@elettod This is because your AWS account does not have sufficient privileges. Please refer to these issues for more info: https://github.com/galaxyproject/cloudlaunch/issues/205
https://github.com/galaxyproject/cloudlaunch/issues/207

[2020-08-10 15:37] #211 closed

[2020-08-11 10:01] elettod opened #212 "Still same problem, with cloudlaunch"
Cloudlaunch has the AdministratorAccess policy, now.
After a while, the instance tries to start and configure itself, I get the same message.

UNABLE TO CHECK STATUS
Health check failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'>

[2020-08-11 10:19] elettod opened #213 "Galaxy CloudMan - Running but failing the Health Test"
Hello,
I am still trying to get Galaxy on AWS. This time with CloudMan.

I find it quite peculiar that, right before clicking on the Health Test button, the instance was running ok.

Here is the message I get (it is always the same):
UNABLE TO CHECK STATUS
Health check failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError

[2020-08-11 16:11] almahmoud commented on #212
This is not the same error as the one indicating insufficient permissions.
This is due to the fact that you are using temporary credentials rather than saving credentials to your profile. In this case, CloudLaunch does not keep a copy of your credentials after the initial launch, meaning it doesn’t have the necessary credentials to check on the status of the instance. Note that the instance most l

[2020-08-11 16:12] almahmoud commented on #213
See https://github.com/galaxyproject/cloudlaunch/issues/212#issuecomment-672057147 . Also note Galaxy CloudMan is old and to my knowledge no longer maintained. The GVL is the newest released version of CloudMan.

[2020-08-11 16:12] #213 closed

[2020-08-11 16:13] #208 closed

[2020-08-11 16:15] almahmoud commented on #212
Closing this as a duplicate of https://github.com/galaxyproject/cloudlaunch/issues/207 . Please reopen if it seems like there is another issue

[2020-08-11 16:15] #212 closed

[2020-08-12 06:24] elettod opened #214 "GVL- Secure Connection Failed"
First of all, I'd like to thank you for all the precious tips you provided me with.

I feel I am making some progress. Getting there...hopefully.

This time, I'm facing a security issue:
clouldlaunch seems to work properly, but I cannot access the URL. Tried on different network and via firefox, chrome and mozilla.

Here is the error I am getting:
An error occurred during a connection to 52.204.15

[2020-08-12 13:39] nuwang commented on #214
@elettod  This looks like a browser issue perhaps? https://appuals.com/pr-end-of-file-error/
Are you behind a firewall? Can you try a different browser?

[2020-08-12 13:40] #207 closed

[2020-08-12 13:40] #201 closed

[2020-08-12 13:40] #174 closed

[2020-08-12 13:47] elettod commented on #214
Thank you @nuwang
I have tried on different networks and with edge, chrome and mozilla.
No joy so far.

[2020-08-12 13:49] nuwang commented on #214
@elettod Do you have an instance running? I tried the ip above but it seems to be no longer available?

[2020-08-12 14:15] elettod commented on #214
@nuwang I have started it again. It is up and running.
Thank you again for trying

[2020-08-12 14:37] nuwang commented on #214
@elettod It doesn't seem to have come up? https://52.204.150.250/ says connection refused.

[2020-08-12 14:40] elettod commented on #214
According to CloudLaunch, it is running.
The same from the AWS console.

On Wed, Aug 12, 2020 at 4:37 PM Nuwan Goonasekera <notifications@github.com>
wrote:

[2020-08-12 15:06] elettod commented on #214
I dunno if it matters (or makes any sense), but I want to tell you that the
instance runs on T2.micro.
Is it too small?

Would it be very nice to have an updated tutorial as in the attached
youtube video for CloudMan.

In the meantime, I have decided to stop it again.

Thank you anyway

D

On Wed, Aug 12, 2020 at 4:40 PM Davide Eletto <davide.eletto@gmail.com>
wrote:

[2020-08-12 15:06] elettod commented on #214
I dunno if it matters (or makes any sense), but I want to tell you that the instance runs on T2.micro.Is it too small?
Would it be very nice to have an updated tutorial as in the attached youtube video for CloudMan.

In the meantime, I have decided to stop it again.
Thank you anyway
D

[2020-08-12 15:07] nuwang commented on #214
It wasn't possible to ping it or even connect via ssh, so the machine doesn't seem to have come up correctly. Try deleting and relaunching. However, t2.micro is definitely too small I'm afraid. The minimum supported size is the one that's selected by default in cloudlaunch (m5.2xlarge). This costs more than $300 a month as I recall.

[2020-08-24 18:35] LohitakshKaushik opened #216 "Issue in launching Galaxy through IGV"
![image](https://user-images.githubusercontent.com/70168697/91082639-8fb0c200-e666-11ea-88e3-0efa0e1f54bf.png)
I have this issue whenever i try to launch something, I usef1x2

[2020-08-24 22:56] afgane commented on #216
This is an issue with permissions on your AWS account. Please see this issue for how to set the appropriate permissions: https://github.com/galaxyproject/cloudlaunch/issues/205#issuecomment-655128387.

I'll close this issue so please open another one if you encounter other problems.

[2020-08-24 22:56] #216 closed

[2020-09-02 01:08] vinodsuresh opened #217 "Create appliance failure"
I have consistently been getting a 'create appliance failure' over the last 48 hours. My Nectar dashboard shows that an instance is running; the cloudlaunch dashboard shows that the deployment is not found. Any suggestions?

<img width="561" alt="Screen Shot 2020-09-02 at 1 03 00 PM" src="https://user-images.githubusercontent.com/3904884/91920287-b03ee300-ed1c-11ea-8eaa-7e9944e2d8f5.png">

[2020-09-16 16:12] mciccare opened #220 "Failure to launch"
FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the GetRole operation: User: arn:aws:iam::943603690632:user/cloudlaunch is not authorized to perform: iam:GetRole on resource: role mciccare-genomics-virtual-lab-20-09-16t16-08-cm2-kube-role

The user has EC2 and S3 permissions as directed.  What's missing?

[2020-09-16 17:01] mciccare opened #221 "Failure in creation of appliance"
UNABLE TO CHECK STATUS Health  check failed: CloudBridgeBaseException: Unable to locate credentials  from exception type: <class  'botocore.exceptions.NoCredentialsError'>  Report this failure? |  
-- | --

[2020-09-16 19:32] nuwang commented on #220
Please refer to this issue for info: https://github.com/galaxyproject/cloudlaunch/issues/198#issuecomment-655128278

[2020-09-16 19:32] #220 closed

[2020-09-16 19:33] nuwang commented on #221
I'm guessing you are using temporary credentials? Please refer here: https://github.com/galaxyproject/cloudlaunch/issues/212

[2020-09-16 19:33] #221 closed

[2020-09-18 04:01] mciccare opened #222 "503 Service Temporarily Unavailable"
503 Service Temporarily Unavailable
openresty/1.15.8.1

Appliance: Genomics Virtual Lab (GVL) Version: GVL 5.0 beta4 (Galaxy 20.05)
Cloud: Amazon Web Services

According to Cloud Launch console GVL is up and running.  The access address is given, but pointing to this address gives the above error, after very briefly flashing the application screen.

[2020-09-18 15:02] mciccare opened #223 "Failure to create"
FAILURE
Create appliance task failed: An error occurred while running the ansible playbook to configure instance. Check the logs. Last output lines were: ['TASK [docker : Ensure old versions of Docker are not installed.] ***************', 'ok: [54.83.252.154]', '', 'TASK [docker : Ensure dependencies are installed.] *****************************', 'fatal: [54.83.252.154]: FAILED! => {"msg": "Faile

[2020-09-18 18:45] nuwang commented on #222
@mciccare What instance size did you use? If the instance size is less than the minimum recommended, there's a chance that some services won't load. That may explain the behaviour you are seeing?

[2020-09-19 04:47] mciccare commented on #222
m5.2xlarge

[2020-09-19 05:02] mciccare commented on #222
I have an instance running at 107.20.19.77.  Both Cloudlaunch and AWS indicate all is well.  But https://107.20.19.77/ simply replies "default backend 404".  I cannot ping this address.

[2020-09-27 07:17] cearch123 opened #224 "launch the Galaxy instance on AWS failure with GLV"
FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the GetRole operation: User: arn:aws:iam::101035347665:user/Galaxy_Cloudman is not authorized to perform: iam:GetRole on resource: role cearch-cloudman-20-20-09-27t07-09-cm2-kube-role

[2020-09-27 09:37] cearch123 opened #225 "UNABLE TO CHECK STATUS"
UNABLE TO CHECK STATUS
Health check failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'

[2020-09-28 14:16] almahmoud commented on #225
I'm guessing you are using temporary credentials? Please refer here: https://github.com/galaxyproject/cloudlaunch/issues/212

[2020-09-28 14:16] #225 closed

[2020-09-28 14:16] almahmoud commented on #224
Please refer to this issue for info: https://github.com/galaxyproject/cloudlaunch/issues/198#issuecomment-655128278

[2020-09-28 14:16] #224 closed

[2020-09-29 17:00] xguse opened #226 "CloudLaunch not seeing my running appliance"
It shows an old one

[2020-10-02 18:23] brainsnewmath opened #227 "cloud launch chemical toolbox failure"
UNABLE TO CHECK STATUS
Health check failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'>

Even though the ec2 instance is up and can be connected via ssh.

[2020-10-29 06:28] cearch123 opened #232 "Could not set up a Galaxy instance of AWS via GVL"
Hello, Ms/Mr.

Could you help me with the AWS instance set-up with your GVL tools, the failure message is as following:

FAILURE
Create appliance task failed: CloudBridgeBaseException: An error occurred (InvalidParameterValue) when calling the RunInstances operation: Invalid availability zone: [ap-northeast-1b] from exception type: <class 'botocore.exceptions.ClientError'>

My e-mail is : nieshuan

[2020-11-18 19:43] bioboot opened #233 "Error launching any instance type"
Using CloudLaunch website I get:

FAILURECreate appliance task failed: CloudBridgeBaseException: An error occurred (InvalidInstanceID.NotFound) when calling the CreateTags operation: The instance ID 'i-056318f101ed1b3fe' does not exist from exception type: <class 'botocore.exceptions.ClientError'> Report this failure?

I now get this when trying to launch any instance type:
Appliance: Genomics Vir

[2020-11-19 10:56] nuwang commented on #233
@bioboot I can confirm that we've been experiencing this issue as well, since maybe 2 days ago. It seems to be related to some AWS concurrency issues, presumably due to some changes on their end. Some code that would be expected to work is no longer working. We are trying to work around this, see here for the tracking issue: https://github.com/CloudVE/cloudbridge/pull/257

[2020-11-20 08:44] nuwang opened #234 "Multiple issues launching in AWS China"
There are several issues with launching the GVL on AWS China.

The first is that AWS instance types for the `cn-north-1` region are not being listed. A temporary workaround has been put into place, but once: https://github.com/CloudVE/cloudbridge/pull/248 is merged, this should get sorted out.

The second issue is that the IAM policy cannot be created due to: "Error creating IAM Role XXX: Malforme

[2020-11-22 18:48] DSVT-Git opened #236 "Getting No Credentials Error When Trying to Launch Genomics Virtual Lab"
Getting this error message when I try to launch Genomics Virtual Lab...

UNABLE TO CHECK STATUS
Health check failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'>

Have tried delete the instance and creating a new instance but it happens again...

[2020-11-23 20:52] afgane commented on #236
This occurs when the credentials are not stored on CloudLaunch because it has no way to check on the status of the instance or delete it. A slightly longer explanation can be found here: https://github.com/galaxyproject/cloudlaunch/issues/212#issuecomment-672057147

[2020-11-23 20:52] #236 closed

[2020-11-24 18:45] dwightkuo opened #237 "GVL Galaxy: Error during initial launch"
Appliance: Genomics Virtual Lab (GVL)Version: GVL 5.0 beta4 (Galaxy 20.05)
Cloud: Amazon Web Services

FAILURE
Create appliance task failed: An error occurred while running the ansible playbook to configure instance. Check the logs. Last output lines were: ['changed: [34.194.106.1] => (item=ubuntu)', '', 'TASK [Install system packages] *************************************************', 'changed:

[2020-11-28 18:23] DSVT-Git opened #238 "Cloudlaunch reverts to old user"
Trying to launch a Galaxy instance (Genomics Virtual Lab) on Amazon Web Services using Cloudlaunch. I set up an AWS account but was having repeated issues with launching so I created an entirely new AWS account and an new gmail. However when I log in to Cloudlaunch with the new AWS account and new gmail it reverts to the old Cloudlaunch user and I can’t delete that user. Also, on that old user I c

[2020-11-29 00:06] cearch123 opened #239 "Launch one instance from GVL with AWS China, please help"
FAILURE
Create appliance task failed: An error occurred while running the ansible playbook to configure instance. Check the logs. Last output lines were: ['TASK [Update apt cache.] *******************************************************', 'changed: [52.80.110.40]', '', 'TASK [Install Python2 if not available] ****************************************', 'fatal: [52.80.110.40]: FAILED! => {"changed":

[2020-11-30 16:34] pfordnc opened #240 "create appliance task failed"
it appears that once my instance has spun up an ssh session can not be established. Any thoughts?
FAILURE
Create appliance task failed: An error occurred while running the ansible playbook to configure instance. Check the logs. Last output lines were: ['changed: [3.225.82.185] => (item=ubuntu)', '', 'TASK [Install system packages] *************************************************', 'changed: [3.22

[2020-11-30 18:51] #240 closed

[2020-11-30 18:52] pfordnc commented on #240
after relaunching the appliance 3 times it finally started up with no errors.

[2020-11-30 19:18] pfordnc opened #241 "Trinity de novo hung cloning"
I was able to successfully deploy the Genomics appliance into AWS I get connected to it via the public IP address and launch Galaxy from the main page then I go to Admin => Tool Shed => & attempt to load Trinity De Novo it hangs "cloning" for more than 2 hours.  where can I look to try & troubleshoot this issue. many thanks!

[2020-12-02 13:17] nuwang commented on #239
We've investigated this further and it is tied to the machine image. I've changed the machine image again, can you give this another try?

[2020-12-02 13:26] nuwang commented on #241
@pfordnc When installing tools, make sure not to select the shed_tool_conf.xml as the target, as that's read only. At present, this is still selected by default, but I believe a fix was either already made or is in the works. Also unselect dependencies as follows:

![image](https://user-images.githubusercontent.com/2070605/100878338-0ebc5e80-34d0-11eb-83ed-61019c7c10e9.png)

[2020-12-02 13:32] nuwang commented on #238
@DSVT-Git Can you try a different auth provider, like github? And using an incognito window may also help. However, if you simply want to clear your existing credentials, you can do so through the profile page (User->My Credentials).

[2020-12-02 13:35] nuwang commented on #234
Fixed in above PRs.

[2020-12-02 13:35] #234 closed

[2020-12-02 13:35] nuwang commented on #232
Fixed.

[2020-12-02 13:35] #232 closed

[2020-12-02 13:45] nuwang commented on #233
@bioboot This should be fixed now. Let us know if you encounter a recurrence.

[2020-12-02 13:45] #233 closed

[2020-12-02 13:54] nuwang commented on #227
@brainsnewmath Please refer to this issue: https://github.com/galaxyproject/cloudlaunch/issues/212

[2020-12-02 13:54] #227 closed

[2020-12-02 13:55] nuwang commented on #222
@mciccare This may have been due to a machine image issue. Can you please retry?

[2020-12-02 13:56] nuwang commented on #223
@mciccare This should be fixed now. Thanks for reporting.

[2020-12-02 13:56] #223 closed

[2020-12-02 13:58] nuwang commented on #226
@xguse Can you provide us with more context? A screenshot would help.

[2020-12-02 13:59] nuwang commented on #237
@dwightkuo Can you give it another go? This should be fixed now.

[2020-12-02 14:08] #214 closed

[2020-12-02 19:36] DSVT-Git commented on #238
Thanks Nuwan!!! Logged in with Github and now Cloudlaunch sees me as a new user, unfortunately I'm still not able to launch Genomics Virtual Lab as I keep getting the authorization error...
Was able to start with blank credentials but every time I input the Access Key and Secret Key I get the error below....tried leaving "use as default for this cloud" unchecked and saving, but no luck...
![image]

[2020-12-02 20:18] afgane commented on #238
Does your AWS account have full EC2 admin privileges? As the error shows, it appears the account is not able to perform operation `describekeypairs`. More broadly, your account needs EC2, VPC, and S3 admin privileges as well as the following IAM policy
[code]

[2020-12-05 15:04] DSVT-Git commented on #238
Thanks!!! Was able to implement the above suggestions...however now when I go to:

https://launch.usegalaxy.org/

I just see a spinning wheel and can't get to the Cloudlaunch application...

Will try again in an hour or so.

BTW here are the instructions I got from AWS Tech Support for creating the IAM policy if that might be useful for anyone:

In order to create the IAM policy, please follow the

[2020-12-05 15:12] afgane commented on #238
There was an outage on the Jetstream cloud where CloudLaunch is hosted (https://portal.xsede.org/user-news/-/news/item/12698) and that affected the availability of app for the past ~24 hrs but it just came up so should be ok to launch now.

[2020-12-09 18:43] rpetit3 opened #242 "AWS region locked account causes credentials test to fail"
Hello!

I have an IAM User that can only be accessed from us-east and us-west regions. Due to this when I click the "Test and Use these Credentials" button I get the following error:

[code]

After following up with IT this is due to the "Test Credentials" being called against the `ap-northeast` region instead of one of the `us` regions.

Is there any way to change where the test is called from or

[2020-12-09 20:35] nuwang commented on #242
@rpetit3 Hi, this is most likely due to a permissions issue. Please take a look at this comment and let us know whether that solves the problem for you: https://github.com/galaxyproject/cloudlaunch/issues/198#issuecomment-655128278

[2020-12-10 20:46] rpetit3 commented on #242
It's definitely a permissions issue. Our accounts are region locked to only US zones at the organization level for our university. Any permissions for non-US zones are blocked.

Is there a way to override requests coming from `ap-northeast` by CloudLaunch and instead make them originate from a US zone? I should mentioned that this is for https://launch.usegalaxy.org/catalog

Thank you very much fo

[2020-12-11 07:20] nuwang commented on #242
@rpetit3 I don't think there's any part of the code that's hard-coded to ap-northeast. This is the line in question that does the credential verification: https://github.com/CloudVE/cloudbridge/blob/5820f681c33d74c93ede22e56d8c7a5f7b9f54e7/cloudbridge/base/provider.py#L143
It utilizes the cloud region selected by the user, along with the user's credentials to perform the authentication. The code w

[2020-12-11 07:24] #241 closed

[2020-12-11 07:24] nuwang commented on #239
@cearch123 Is this fixed now? Can we close this issue?

[2020-12-11 07:26] nuwang commented on #238
@DSVT-Git Thanks for contributing the AWS IAM policy creation steps. I'll close this issue now since I assume it's resolved. Feel free to reopen if not.

[2020-12-11 07:26] #237 closed

[2020-12-11 07:27] #226 closed

[2020-12-11 07:27] #222 closed

[2020-12-11 07:30] nuwang commented on #217
@vinodsuresh Most likely, this was a transient issue on NeCTAR. Feel free to reopen if you encounter this again.

[2020-12-11 07:30] #217 closed

[2020-12-11 14:23] rpetit3 commented on #242
I noticed that as well (about us-east-1).

Little more info on my IAM User. It has EC2FullAccess and S3FullAccess on all requests coming from the IP address 149.165.157.211, which is presumed to be that for CloudLaunch. Unfortunately, providing full AdminAccess will not be possible.

IT is using Splunk Cloud on their end to audit University AWS accounts. They reviewed requests for my IAM user, all

[2020-12-11 20:51] DSVT-Git commented on #238
Actually still having problems launching Genomics Virtual Lab. Still getting the same error as above. Wondering if I'm inputing the wrong credentials. I created a user in AWS according to the above specifications and am entering the credentials for that user into Cloudlaunch. I'm logged into AWS as the root user. Do I need to be logged into AWS as the user I created or maybe reset credentials for

[2020-12-12 19:00] DSVT-Git commented on #238
Tried to reopen this issues but don't think I'm authorized...or would anyone know if it's possible to install Galaxy locally given that I have an older iMac that can only run OS X 10.13 and don't have the 200GB free space mentioned in the Galaxy system requirements. Could I run Galaxy on my internal drive and keep all data on an external drive? That would probably work better if possible as I keep

[2020-12-12 19:05] DSVT-Git opened #243 "Trying to reopen Issue #238"
Tried to reopen my issue #238 but don't think I'm authorized...I commented on that issue as it's still happening but not sure if anyone will se it as it was closed by someone else...my comments about the current situation are in the thread for issue #238...thanks!!!

[2020-12-15 00:06] almahmoud commented on #242
I investigated this a bit today and I do think the fix would have to be on our side, so I'll re-open the issue.

As a temporary workaround I have created a separate AWS cloud that only contains US regions, so you should be able to launch under your account pointing to the new targets. I added the 4 regions `us-[east|west]-[1|2]` with default zones for now. You should pick one of the ones called "A

[2020-12-15 00:09] almahmoud commented on #242
Beyond that, if we want to address it more generally, I'm also detailing the issue here so we can think of a long-term solution:

In our current design, we've tied Credentials to Clouds irrespective of regions. I guess the assumption was that if a set of credentials work on AWS, they should work across AWS regions, at least in terms of being able to authenticate (eg: even if permissions would rest

[2020-12-15 01:42] rpetit3 commented on #242
Thank you very much @almahmoud! This works great, I got past the credentials check. I'll test more in the coming days, but I think its safe to assume if the credentials validated I should be able to launch an instance.

I think your proposed solutions would work just fine. I like the idea of validating against what ever the selected target region is. But I think that was more so directed to Nuwan.

[2020-12-15 07:26] nuwang commented on #242
Thanks for tracking that down Alex. I should have looked one level higher, where there's a clear assumption that authentication would be region independent, which in Robert's case, is clearly an incorrect one. Your plan of adding an extra param sounds good.

[2020-12-24 14:57] tshum-create opened #245 "Galaxy Genomics Virtual Lab setup error "Get Role""
I received this error message below when I tried to launch "Appliance: Genomics Virtual Lab (GVL), Version: GVL 5.0 beta5 (Galaxy 20.09)" on Amazon Web Services, using the website https://launch.usegalaxy.org/appliances.

FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the GetRole operation: User: arn:aws:iam::596091794167:user/galaxy_cloudman is not authorized

[2020-12-25 04:37] tshum-create opened #246 "Cannot delete a cloud launch"
Hi, I wanted to delete this active appliance but the website is not letting me do it. Can you please help me with this problem?

thomas3-genomics-virtual-lab-20-12-24t21-23Appliance: Genomics Virtual Lab (GVL)Version: GVL 4.3.0 (Galaxy 17.09)Cloud: Amazon Web Services | 7 hours ago | UNABLE TO CHECK STATUSHealth check failed: CloudBridgeBaseException: Unable to locate credentials from exception ty

[2020-12-26 21:48] almahmoud commented on #246
You can only delete applications from CloudLaunch if you've saved credentials. See: https://github.com/galaxyproject/cloudlaunch/issues/212#issuecomment-672057147

[2020-12-26 21:48] #246 closed

[2020-12-26 21:51] almahmoud commented on #245
This is because your AWS IAM account does not have sufficient privileges. See this issue for more details: https://github.com/galaxyproject/cloudlaunch/issues/198#issuecomment-655128278

[2020-12-26 21:51] #245 closed

[2021-01-21 06:58] cearch123 commented on #239
Hi，Nuwan,

Sorry for reply you so late,  I think you can close the this issue. If we have any problems in later on POC, I will tell you.

thanks

Shuang Nie

|
|
|
| 一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一 |
|
| 本电子邮件及其附件所包含的信息均属北京思睿兴达科技有限责任公司商业秘密，仅限于发送给上面地址中列出的接收方，如果你错收了本邮件，请立即电话或邮件通知发件人并删除本邮件及其附件。
This e-mail and its attachments contain confidential information fro

[2021-02-01 14:54] rpetit3 opened #248 "Unable to select instance - Server Error 500"
Hello!

When trying to select an instance type, I'm getting a 500 error code. I am unable to select an instance to launch Galaxy.

 I've attached a screenshot.

![cloudlaunch](https://user-images.githubusercontent.com/5334269/106474780-3e0d2e80-6473-11eb-9808-7e3c2e39d793.PNG)
![cloudlaunch2](https://user-images.githubusercontent.com/5334269/106474855-53825880-6473-11eb-8bd6-a70dd9932b06.PNG)

Her

[2021-02-14 21:26] timp0 opened #249 "Spawning GVL 5.0 beta5 fails"
Hi,

Getting an error when trying to spawn a galaxy instance (Galaxy 20.09) via GVL:

[code]

[2021-02-15 05:24] nuwang commented on #249
@timp0 Can you let us know which cloud you tried this on? I just tried on AWS and it launched ok.

[2021-02-15 05:26] nuwang commented on #248
@rpetit3 Has this been resolved? Can you let us know which cloud this is on. Also can you try reentering and revalidating your credentials?

[2021-02-15 05:28] nuwang commented on #238
@DSVT-Git Can you try deleting all credentials from your cloudlaunch profile?  It's under your username -> My credentials. Once all credentials are deleted, try again anew with fresh credentials and let us know whether it solves the problem.

[2021-02-15 05:28] nuwang commented on #243
Reopened 238.

[2021-02-15 05:28] #243 closed

[2021-02-15 14:19] timp0 commented on #249
@nuwang yeah, it was on AWS for me as well.  At first I had some problems until I gave the IAM admin permissions (GetRole, SetRole), but this problem still persists.  Wasn't clear how to get any further logs to share, please let me know what other details I can provide.

[2021-02-15 14:50] afgane commented on #249
The docs are outdated on the required permissions (in (small) part what's holding the GVL in beta). This issue has the list of required permissions: https://github.com/galaxyproject/cloudlaunch/issues/198#issuecomment-655128278

[2021-02-16 18:15] rpetit3 commented on #248
Hi @nuwang

After reentering my credentials I am getting the same errors as my previous issue https://github.com/galaxyproject/cloudlaunch/issues/242 again.

[code]

I've tried entering credentials as `aws` and `aws-us`

[2021-02-16 20:03] almahmoud commented on #248
If you can possibly find out like before, is it still hitting `ap-northeast-1`  or is this another issue?

[2021-02-16 21:39] DSVT-Git commented on #238
Thanks! Will try that!

    On Monday, February 15, 2021, 12:28:57 AM EST, Nuwan Goonasekera <notifications@github.com> wrote:

@DSVT-Git Can you try deleting all credentials from your cloudlaunch profile? It's under your username -> My credentials. Once all credentials are deleted, try again anew with fresh credentials and let us know whether it solves the problem.

—
You are receiving this becau

[2021-02-17 05:57] nuwang commented on #248
The `ap-northeast-1` issue should be resolvable since @almahmoud  added this cloud option:
![image](https://user-images.githubusercontent.com/2070605/108162354-f2b17c00-7112-11eb-84c7-9c75d1aef2ec.png)

Perhaps your credentials are invalid? Can you check with boto perhaps?

[2021-02-17 05:59] nuwang commented on #248
Just in case, can you also try deleting all existing credentials from cloudlaunch, and entering afresh? You can view your credentials in the top right hand corner under your username -> My Credentials.

[2021-02-17 06:00] nuwang commented on #249
@timp0 Also, what name did you give your deployment? It's possible that if the name is too long, it could result in some issues.

[2021-02-17 06:18] nuwang commented on #166
This has been fixed now since a failed launch results in immediate deletion of the instance.

[2021-02-17 06:18] #166 closed

[2021-02-17 13:16] rpetit3 commented on #248
I'm following up with IT to see if they are getting the requests.

Haha I would love to try with Boto, but in addition to being region locked the credentials are also IP locked to 149.165.157.211 which I got from `dig launch.usegalaxy.org`

I'll update soon

[2021-02-17 13:31] rpetit3 commented on #248
Good news, it's us. The credentials I was given were deleted by an automated process.

Going to close this. Thanks for the help.

[2021-02-17 13:31] #248 closed

[2021-02-17 13:42] #239 closed

[2021-02-20 02:06] timp0 commented on #249
I tried several names, most recently "jhubmeclasstest" which is pretty short.

I tried adding the specific permissions, didn't seem to help.  Here's a screenshot of the error.  I'll note Galaxy 17 seems to start fine.

![image](https://user-images.githubusercontent.com/1441855/108579729-429c6880-72f6-11eb-9fe7-0601a97b2c70.png)

[2021-02-20 02:18] almahmoud commented on #249
I just launched an instance on AWS and it is up and running as expected.
I believe this might be related to your IAM policy on your account. Maybe try to see if this helps: https://stackoverflow.com/questions/24026348/aws-malformed-policy-error

[2021-02-23 20:12] nuwang commented on #249
@timp0 Can you give it a go now?

[2021-02-26 12:45] Robinnibor opened #251 "Error requiring ENA when it is enabled."
I get the following error when deploying galaxy to EC2 machine with CloudMan

However it looks like ENA is already enabled on my machine.

[2021-03-10 13:56] Urquizu95 opened #252 "Error creating my own galaxy cluster..."
I have problems creating my galaxy cluster with aws, I put all the credentials and permisions and this error still hapen:

FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the GetRole operation: User: arn:aws:iam::208565580221:user/galaxy-cloudman is not authorized to perform: iam:GetRole on resource: role cesar-genomics-virtual-lab-21-03-10t13-51-cm2-kube-role

[2021-03-10 14:52] afgane commented on #252
Please take a look at this comment and that should address the issue: https://github.com/galaxyproject/cloudlaunch/issues/198#issuecomment-655128278

[2021-03-23 13:54] notetienne opened #253 "Log In failed"
Hello,

I'm running my own instance of GVL on AWS, It's running perfectly but I don't know which email to enter in the KeyCloak landing page.

I tried ubuntu, I tried leaving it empty, I tried my GitHub email (I logged in CloudLaunch with my github account but I can't enter any email in my CloudLaunch account)

Thank you for your help

[2021-03-23 15:00] almahmoud commented on #253
The username is always `admin` and the password should be the one you set at launch. Let us know if you have other problems.

[2021-03-23 15:00] #253 closed

[2021-04-23 15:55] stvlar opened #254 "cloudlaunch newbie, got this error"
FAILURE
Create appliance task failed: An error occurred while running the ansible playbook to configure instance. Check the logs. Last output lines were: ['', 'PLAY [Bootstrap Docker Container] **********************************************', '', 'TASK [Wait for any possibly running unattended upgrade to finish] **************', 'fatal: [35.175.74.15]: UNREACHABLE! => {"changed": false, "msg": "ti

[2021-04-23 16:57] afgane commented on #254
It looks like automatic upgrade process never completed. Have you tried the launch process more than once? If not, I'd suggest deleting this one and starting over. Probably a good idea to log into the cloud console and make sure the virtual machine got deleted there.

[2021-05-27 20:58] seanExcisionBio opened #255 "Error trying to launch appliance"
I have received the following error when trying to instantiate a new appliance:

Create appliance task failed: An error occurred while running the ansible playbook to configure instance. Check the logs. Last output lines were: ['changed: [3.229.1.108] => (item=python-backports.ssl-match-hostname)', 'changed: [3.229.1.108] => (item=python-pip)', '', 'TASK [Install pip modules] *********************

[2021-06-18 23:54] jackbrougher opened #256 "Create task failed"
Hello,

I'm following the launch guide, but I'm getting this error message below. Any suggestions?

FAILURE
Create appliance task failed: An error occurred (AccessDenied) when calling the GetRole operation: User: arn:aws:iam::625424302336:user/galaxy_cloudman is not authorized to perform: iam:GetRole on resource: role jackson0-genomics-virtual-lab-21-06-18t23-52-cm2-kube-role

[2021-06-18 23:57] almahmoud commented on #255
This was due to the old playbook using python2 but we've since fixed it. Please re-open the issue if you hit this again.

[2021-06-18 23:57] #255 closed

[2021-06-18 23:57] #252 closed

[2021-06-18 23:58] almahmoud commented on #256
This seems like a lack of appropriate permissions. Please see this comment for appropriate permissions: https://github.com/galaxyproject/cloudlaunch/issues/198#issuecomment-655128278
and please re-open the issue if that doesn't help.

[2021-06-18 23:58] #256 closed

[2021-06-19 04:14] jackbrougher opened #257 "Admin Interface on Cloudman"
Hello,

Sorry to leave two issues in one day.

I managed to launch galaxy through cloudman onto an AWS EC2 instance.

I'm now hoping to add tools from the toolshed. However, I'm unsure how to access the admin interface through cloudman. Whenever I log on there's no admin selection at the top of the page?

[2021-06-19 21:56] #257 closed

[2021-06-20 16:15] #254 closed

[2021-06-20 16:16] #249 closed

[2021-07-13 09:16] Adrian-Zet opened #258 "LOGIN Issues: GVL version 5.0 beta4"
Hello,

So I did a setup for the Genomics Virtual Laboratory using the latest beta version through the Cloudman Interface.
Everything went smoothly until I tried to log in with the "ubuntu/root" username and the password I already set before during the installation.

Does anyone know what the issue could be? I mention that I tried an older version of the GVL that I had no problems logging in to.

[2021-07-13 15:49] almahmoud commented on #258
The username will be `admin` with the password set at launch

[2021-08-15 20:18] bobthacker opened #259 "Failed to Delete Appliance"
I received this message when attempting to delete an appliance:
UNABLE TO CHECK STATUS
Delete task failed: CloudBridgeBaseException: Unable to locate credentials from exception type: <class 'botocore.exceptions.NoCredentialsError'>

It is puzzling, because I also cannot see the appliance in my EC2 account, but I am being charged for it.

[2021-08-15 20:31] bobthacker commented on #259
Update: I was able to find this instance in another region on my EC2 account and terminate it. However, attempting to delete the instance inside the cloudlaunch interface failed prior to terminating inside EC2.

It would be helpful to notify users the region in which their appliance is located.

[2021-08-16 13:34] afgane commented on #259
The unable to check status message occurs because you didn't select to store the credentials on CloudLaunch, hence it cannot check the status of the instance.

The region in which the resources are created is something you select on the first page of the launch process, although displaying it on the list of instances page could certainly be added and useful.